{% extends 'webAdminRadio/base_site.html' %}
{% comment %} {% load webadmin_tags %} {% endcomment %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/emisoras.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}

{% block content %}
    {% if error %}
    <div id="componente_modal_info">
        <modal-info v-if="showModal" url_redirect="">
            <h3 slot="header">Error</h3>
            <div slot="body">
                <p>Existen algunos errores en los siguientes campos:</p>
                {% for campo,e in error.items %}
                    <h5>{{campo}}</h5>
                    {{e}}
                {% endfor %}
            </div>
        </modal-info>
    </div>
    {% endif %}
    {% if success %}
    <div id="componente_modal_info">
        <modal-info v-if="showModal" url_redirect="{% url 'torneos' %}">
            <h3 slot="header">Información</h3>
            <p slot="body">{{success}}</p>
        </modal-info>
    </div>
    {% endif %}

    <h4><b>Información del Torneo</b></h4>
    <form action="{% url 'agregar_torneo' %}" method="post">
        {% csrf_token %}

        <!-- Nombre del torneo -->
        <div class="form-group">
            <label for="nombre">Nombre del Torneo</label>
            <input id="nombre" name="nombre" type="text" class="form-control" required>
        </div>

        <!-- Lugar -->
        <div class="form-group">
            <label for="lugar">Lugar del Torneo</label>
            <input id="lugar" name="lugar" type="text" class="form-control" required>
        </div>

        <!-- Estado -->
        <div class="form-group">
            <label for="estado">Estado del torneo</label><br>
            <select name="estado" default="{{True}}">
                <option value="{{True}}">Activo</option>
                <option value="{{False}}">No Activo</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-lg submit mt-2"><i class="fas fa-plus-circle"></i>Agregar </button>
    </form>

{% endblock %}
{% block page_script %}
    <script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
{% endblock %}