{% extends 'webAdminRadio/base_site.html' %}
{% load static %}

{% block page_style %}
<link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/editar_usuario.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/agregar_segmento.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}

{% block content %}

{% if error %}
<div id="componente_modal_info">
    <modal-info v-if="showModal" url_redirect="">
        <h3 slot="header">Error</h3>
        <div slot="body">
            <p>Existen algunos errores en los siguientes campos:</p>
            {% for campo,e in error.items %}
                <h5>{{campo}}</h5>
                {{e}}
            {% endfor %}
        </div>
    </modal-info>
</div>
{% endif %}
{% if success %}
<div id="componente_modal_info">
    <modal-info v-if="showModal" url_redirect="{% url 'lista_usuarios' %}">
        <h3 slot="header">Información</h3>
        <p slot="body">{{success}}</p>
    </modal-info>
</div>
{% endif %}

<h4><b>Información del Usuario </b></h4>
<form id="addSegmento" onsubmit="return submitData()" action="{% url 'agregar_usuario' %}"
    method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Imagen -->
    <div class="d-flex flex-column align-items-center mb-3">
        <div class="img-holder d-flex align-items-center">
            <img id="preview" src="{% static 'webAdminRadio/images/redonda.jpg' %}">
        </div>
        <div class="form-file input-group mb-3 w-50">
            <input type="file" name="archivo" class="form-control" id="imgSegmento" accept=".png, .jpg, .jpeg" oninvalid="this.setCustomValidity('Ingrese una imagen')" oninput="this.setCustomValidity('')" required>
            <span id="image-error"></span>
            <input type="hidden" name="imagen" value="redonda.jpg" id="imagen">
        </div>
    </div>

    <!-- Nombre del usuario -->
    <div class="my-3 align-items-center ">

        <div class="input-container">
            <label for="nombre" class="me-3">Nombres</label>
                <input class="form-control" id="nombre" name="nombre" type="text"  
            onkeyup="validateName()"required>
                <span class="" id="name-error"></span>
        </div>
    </div>
    <!--Apellido-->
    <div class="my-3 align-items-center">
        
        <div class="input-container">
            <label for="apellido" class="me-3">Apellidos</label>
            <input id="apellido" name="apellido" type="text" class="form-control"
            onkeyup="validateLastName()"required>
                <span id="last-name-error"></span>
        </div>
    </div>
    <!--Cedula-->
    <div class="my-3 align-items-center">
        <div class="input-container">
            <label for="cedula" class="me-3">Cédula</label>
            <input id="cedula" name="cedula" type="text" class="form-control"
            onkeyup="validateID()"
                required>
                <span id="id-error"></span>
        </div>
    </div>
    <!--Username-->
    <div class="my-3 row align-items-center">
        <div class="input-container">
            <label for="user" class="me-3">Username</label>
            <input id="username" name="username" type="text" class="form-control"
            onkeyup="validateUsername()"
                required>
                <span id="username-error"></span>
        </div>
    </div>
    <!-- Fecha de Nacimiento -->
    <div class="my-3 row align-items-center">
        <div class="col-3">
            <label for="fechaNac">Fecha de Nacimiento</label>
        </div>
        <div class="col-9">
            <input id="fechaNac" name="fechaNac" type="date" class="form-control"
           oninvalid="this.setCustomValidity('Ingrese una fecha')"
                oninput="this.setCustomValidity('')" required>
            </div>
    </div>
    <!-- E-mail -->
    <div class="my-3 align-items-center">
        <div class="input-container">
            <label for="email" class="me-3">Correo electrónico</label>
            <input id="email" name="email" type="email" class="form-control"
            onkeyup="validateEmail()"
                required>
                <span id="email-error"></span>
        </div>
    </div>
    <!-- Teléfono -->
    <div class="my-3 align-items-center">
        <div class="input-container">
            <label for="telefono" class="me-3">Teléfono</label>
            <input id="telefono" name="telefono" type="tel" pattern="[0-9]{9,10}" class="form-control"
            onkeyup="validateTelefono()" required>
                <span id="cellphone-error"></span>
            </div>
    </div>
    <!-- Sexo -->
    <div class="my-3 row align-items-center">
        <div class="col-2">
            <label >Sexo</label>
        </div>
        <div class="col-10"> 
            <select  name="sexo" value="noBinario" class="form-select" aria-label="Default select example">
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                    <option value="noBinario">No binario</option>
                </select>
        </div>
    </div>
    
    <!-- Rol -->
    <div class="my-3 row align-items-center">
        <div class="col-2">
            <label for="tipo_usuario">Rol del usuario</label>
        </div>
        <div class="col-10">
            <select name="rol" class=" form-select" aria-label="Default select example">
                <option value="Locutor">Locutor</option>
                <option value="Gerente">Gerente</option>
                <option value="Director">Director</option>
                <option value="Community Manager">Community Manager</option>
            </select>
        </div>

    </div>

    <!--Estado Activo-->
    <div class="my-3 row align-items-center">
        <div class="col-2">
            <label class="form-check-label" for="flexSwitchCheckChecked">Activo</label>
        </div>
        <div class="col-10 fs-3 form-check form-switch">

            <input name="activo" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>

        </div>
    </div>


    <!--Descripcion-->
    <div class=" form-floating">
        <textarea name="descripcion"  class="form-control" style="height: 7rem;" placeholder="Leave a comment here" id="floatingTextarea">
        </textarea>
        <label for="floatingTextarea">Descripcion</label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg submit"><i class="fas fa-plus-circle"></i>Guardar y
        continuar</button>
</form>
{% endblock %}
{% block page_script %}
<script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
<script src="{% static 'webAdminRadio/js/img_preview.js' %}"></script>
<script src="{% static 'webAdminRadio/js/user_form.js' %}"></script>

{% endblock %}