{% extends 'webAdminRadio/base_site.html' %}
{% load static %}

{% block page_style %}
<link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}

{% load accounts_tags %}

{% block content %}

    {% if error %}
        <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="">
                <h3 slot="header">Error</h3>
                <div slot="body">
                    <p>Existen algunos errores en los siguientes campos:</p>
                    {% for campo,e in error.items %}
                    <h5>{{campo}}</h5>
                    {{e}}
                    {% endfor %}
                </div>
            </modal-info>
        </div>
    {% endif %}
    {% if success %}
        <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="{% url 'lista_roles' %}">
                <h3 slot="header">Información</h3>
                <p slot="body">{{success}}</p>
            </modal-info>
        </div>
    {% endif %}
    
    <form id="addLocutor" action="{% url 'agregar_rol' %}" onsubmit="return validate()" method="POST"
        enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Nombre del rol -->
        <div class="my-3 px-4 row align-items-center ">
            <div class="col-2">
                <label for="nombre" class="fs-4 col-sm-1 col-form-label">Nombre</label>
            </div>
            <div class="col-10">
                <input id="nombre" name="name" type="text" class="form-control"
                    oninvalid="this.setCustomValidity('Ingrese un nombre válido')" oninput="this.setCustomValidity('')"
                    maxlength="15" required>
            </div>
        </div>

        <!--Estado Activo-->
        <div class="my-3 px-4 row align-items-center">
            <div class="col-2">
                <label class="fs-4 col-sm-1 col-form-label" for="flexSwitchCheckChecked">Activo</label>
            </div>
            <div class="col-10 fs-3 form-check form-switch">
                <input name="activo" class="form-check-input" type="checkbox" checked role="switch" id="flexSwitchCheckChecked">
            </div>
        </div>

        {% for nombre_grupo, permisos in grupos.items %}
            <div class="my-4 px-4">
                <div class="h4 pb-2 mb-4 text-dark border-bottom border-danger d-flex justify-content-between">
                    <span>{{nombre_grupo}}</span>
                    <div>
                        <button type="button" class="btn btn-danger" 
                            onclick="quitarPermisosSeccion('{{nombre_grupo}}')"
                            data-bs-toggle="tooltip" data-bs-placement="top" 
                            title="Quitar todos los permisos de la seccion">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </button>
                        <button type="button" class="btn btn-success" 
                            onclick="asignarPermisosSeccion('{{nombre_grupo}}')"
                            data-bs-toggle="tooltip" data-bs-placement="top" 
                            title="Asignar todos los permisos de la seccion">
                            <i class="fa-solid fa-check"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    {% for permiso in permisos %}
                        <div class="mx-4 form-check form-check-inline col-2">
                            <input  name='permisos' class="form-check-input {{nombre_grupo}}-checkbox" value="{{ permiso.id }}"
                                type="checkbox" id="{{ permiso.id }}-check">
                            <label class="form-check-label" for="{{ permiso.id }}-check">{{ permiso | obtener_tipo_permiso }}</label>
                        </div>
                    {% endfor %}    
                </div>                
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-lg submit">
            <i class="fas fa-plus-circle"></i>Guardar y continuar
        </button>
    </form>
{% endblock %}
{% block page_script %}
    <script src="{% static 'webAdminRadio/js/img_preview.js' %}"></script>
    <script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
    <script src="{% static 'webAdminRadio/js/roles.js' %}"></script>
{% endblock %}