{% extends 'webAdminRadio/base_site.html' %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/agregar_segmento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}
{% block content %}
    {% if error %}
        <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="">
                <h3 slot="header">Error</h3>
                <div slot="body">
                    <p>Existen algunos errores en los siguientes campos:</p>
                    {% for campo,e in error.items %}
                        <h5>{{campo}}</h5>
                        {{e}}
                    {% endfor %}
                </div>
            </modal-info>
        </div>
    {% endif %}
    {% if success %}
        <div id="componente_modal_info">
                <modal-info v-if="showModal" url_redirect="{% url 'emisoras' %}">
                    <h3 slot="header">Información</h3>
                    <p slot="body">{{success}}</p>
                </modal-info>
        </div>
    {% endif %}
    <h4><b>Información de la emisora</b></h4>
    <form id="addSegmento" method="POST" action="{% url 'agregar_emisora' %}" enctype="multipart/form-data">
        {% csrf_token %}

        {% comment %} <!-- Div de imagen -->
        <div class="d-flex flex-column align-items-center mb-3">
            <div class="img-holder d-flex align-items-center">
                <img id="preview" src="{% static 'webAdminRadio/images/redonda.jpg' %}">
            </div>
            <div class="form-file input-group mb-3 w-50">
                <input type="file" name="archivo" class="form-control" id="imgSegmento" accept=".png, .jpg, .jpeg" oninvalid="this.setCustomValidity('Ingrese una imagen')" oninput="this.setCustomValidity('')" required>
                <input type="hidden" name="imagen" value="redonda.jpg" id="imagen">
            </div>
        </div> {% endcomment %}

        <!-- Selección de Emisora -->
        <div class="row mb-3 mt-5">
            <div class="col-3">
                <label for="radioSelect">Radio</label>
            </div>
            <div class="col-9">  
                <select id="radioSelect" class="form-select form-control" name="id_radio" oninvalid="this.setCustomValidity('Seleccione una emisora de la lista')" required oninput="this.setCustomValidity('')">
                    <option value="" selected disabled>Seleccione la radio</option>
                    {% for radios in radios %}
                        <option value="{{ radios.id }}">{{ radios.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Div de frecuencia -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="frecuenciaInput" class="form-label">Frecuencia o Dial</label>
            </div>
            <div class="col-4">
                <input required name="frecuencia_dial" id="frecuenciaInput" type="text" class="form-control" placeholder="Ejemplo: 105.4" pattern="[((0-9]{2,3})|(0-9]{2,3}\.[0-9]">
            </div>
            <div class="col-5">
            <select required name="tipo_frecuencia" id="frecTipoInput" class="form-select form-control">
                <option disabled selected value="">Tipo de frecuencia</option>
                <option value="NO">Sin tipo</option>
                <option value="FM">FM</option>
                <option value="AM">AM</option>
            </select>
            </div>
 
        </div>


        <!-- Div de Streaming -->
        <div class="row mb-3">
            <div class="col-3">
                <label required for="streamingInput" class="form-label">URL de streaming</label>
            </div>
            <div class="col-9">
                <input required name="url_streaming " id="streamingInput" type="url" class="form-control" placeholder="Ingrese el url de transmision de la radio">
            </div>
        </div>

        <!-- Div de telefono -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="" class="form-label">Teléfono</label>
            </div>
            <div class="col-9">
                <div id="componente_telefono">
                    <telf></telf>
                </div>
            </div>
        </div>

        

        <!-- Div de direccion -->
        <div class="row mb-3">
            <div class="col-12 mb-3">
                <div class="row">
                    <div class="col-3">
                        <label for="direccionInput" class="form-label">Dirección</label>
                    </div>
                    <div class="col-9">
                        <input required name="direccion" id="direccionInput" type="text" class="form-control" placeholder="Direccion de la emisora">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="row">
                    <div class="col-3">
                        <label class="form-label">Provincia</label>
                    </div>
                    <div class="col-9">
                        <select required name="provincia" class="custom-select form-control">
                            <option disabled selected value="">Provincia</option>
                            <option value="Azuay">Azuay</option>
                            <option value="Cañar">Cañar</option>
                            <option value="Loja">Loja</option>
                            <option value="Carchi">Carchi</option>
                            <option value="Imbabura">Imbabura</option>
                            <option value="Pichincha">Pichincha</option>
                            <option value="Cotopaxi">Cotopaxi</option>
                            <option value="Tungurahua">Tungurahua</option>
                            <option value="Bolívar">Bolívar</option>
                            <option value="Chimborazo">Chimborazo</option>
                            <option value="Sto. Domingo de los Tsachilas">Sto. Domingo de los Tsachilas</option>
                            <option value="Esmeraldas">Esmeraldas</option>
                            <option value="Manabí">Manabí</option>
                            <option value="Guayas">Guayas</option>
                            <option value="Los Ríos">Los Ríos</option>
                            <option value="El Oro">El Oro</option>
                            <option value="Santa Elena">Santa Elena</option>
                            <option value="Sucumbíos">Sucumbíos</option>
                            <option value="Napo">Napo</option>
                            <option value="Pastaza">Pastaza</option>
                            <option value="Orellana">Orellana</option>
                            <option value="Morona Santiago">Morona Santiago</option>
                            <option value="Zamora Chinchipe">Zamora Chinchipe</option>
                            <option value="Galápagos">Galápagos</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-3">
                        <label class="form-label">Ciudad</label>
                    </div>
                    <div class="col-9">
                        <input required name="ciudad" type="text" class="form-control" placeholder="Ciudad" pattern="([A-Za-z]|\s)+">
                    </div>
                </div>                
            </div>
        </div>

        <!-- Div de Redes Sociales-->
        <div class="row mb-3">
            <div class="col-3">
                <label for="">Redes Sociales</label>
            </div>
            <div class="col-9">
                <div id="componente_redsocial">
                    <redsocial></redsocial>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary btn-lg submit"><i class="fas fa-plus-circle"></i>Agregar Emisora</button>
        </div>
        
    </form>
{% endblock %}
{% block page_script %}
<script src="{% static 'webAdminRadio/js/img_preview.js' %}"></script>
<script src="{% static 'webAdminRadio/js/componentes/TelefonoComponent.js' %}"></script>
<script src="{% static 'webAdminRadio/js/componentes/Red_SocialComponente.js' %}"></script>
<script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
{% endblock %}