{% extends 'webAdminRadio/base_site.html' %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/agregar_segmento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}
{% block content %}
    {% if error %}
        <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="">
                <h3 slot="header">Error</h3>
                <div slot="body">
                    <p>Existen algunos errores en los siguientes campos:</p>
                    {% for campo,e in error.items %}
                        <h5>{{campo}}</h5>
                        {{e}}
                    {% endfor %}
                </div>
            </modal-info>
        </div>
    {% endif %}
    {% if success %}
    <div id="componente_modal_info">
        <modal-info v-if="showModal" url_redirect="{% url 'programas' %}">
            <h3 slot="header">Información</h3>
            <p slot="body">{{success}}</p>
        </modal-info>
    </div>
    {% endif %}
    <h4><b>Información del Programa</b></h4>
    <form id="addSegmento" onsubmit="return validate()" action="{% url 'agregar_programa' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Imange del segmento -->
        <div class="d-flex flex-column align-items-center mb-3">
            <div class="img-holder">
                <img id="preview" src="{% static 'webAdminRadio/images/redonda.jpg' %}">
            </div>
            <div class="form-file input-group mb-3 w-50">
                <input type="file" name="archivo" class="form-control" id="imgSegmento" accept=".png, .jpg, .jpeg" oninvalid="this.setCustomValidity('Ingrese una imagen para el segmento')" oninput="this.setCustomValidity('')" required>
                <input type="hidden" name="imagen" value="redonda.jpg" id="imagen">
            </div>
        </div>

        <!-- Selección de Emisora -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="emisoraSelect">Emisora</label>
            </div>
            <div class="col-9">  
                <select id="emisoraSelect" class="form-select form-control" name="emisora" oninvalid="this.setCustomValidity('Seleccione una emisora de la lista')" required oninput="this.setCustomValidity('')">
                    <option value="" selected disabled>Seleccione la emisora</option>
                    {% for emisora in emisoras %}
                        <option value="{{ emisora.id }}">{{ emisora.id_radio.nombre }} {{ emisora.frecuencia_dial }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Nombre del segmento -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="nombreInput">Nombre</label>
            </div>
            <div class="col-9">
                <input id="nombreInput" name="nombre" type="text" class="form-control" placeholder="Ingrese un nombre para el programa" oninvalid="this.setCustomValidity('Ingrese un nombre para el segmento')" oninput="this.setCustomValidity('')" required>
            </div> 
        </div>


        <!-- Descripción del segmento -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="descInput">Descripción</label>
            </div>
            <div class="col-9">
                <textarea class="form-control" id="descInput" name="descripcion" rows="3" placeholder="Ingrese una breve descripción del programa" oninvalid="this.setCustomValidity('Ingrese una descripcion del segmento')" oninput="this.setCustomValidity('')" maxlength="250" required></textarea>
            </div>
        </div> 

        <!-- Selección de Horarios -->
        <label class="mb-3 fw-bold">Horarios</label>
        <!-- <div class="row mb-3">
            <div id="componente_horario">
                <horario></horario>
            </div>
        </div> -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="dias">Dias a emitir</label>
            </div>
            <div class="col-9">
                <select name="dias" id="dias" class="form-select" oninvalid="this.setCustomValidity('Seleccione una de las opciones de la lista')" oninput="this.setCustomValidity('')" required>
                    <option value="" selected disabled>Seleccione los dias a emitir el programa</option>
                    <option value="L">Lunes a Viernes</option>
                    <option value="SD">Sábado y Domingo</option>
                    <option value="S">Sábado</option>
                    <option value="D">Domingo</option>
                </select>
            </div> 
        </div>
        <!-- Hora inicio -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="horainicio">Hora de inicio</label>
            </div>
            <div class="col-9">
                <input id="horainicio" name="horainicio" type="time" class="form-control" oninvalid="this.setCustomValidity('Ingrese un horario valido')" oninput="this.setCustomValidity('')" required>
            </div>
        </div>
        <!-- Hora fin -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="horafin">Hora de finalizacion</label>
            </div>
            <div class="col-9">
                <input id="horafin" name="horafin" type="time" class="form-control" oninvalid="this.setCustomValidity('Ingrese un horario valido')" oninput="this.setCustomValidity('')" required>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-3">
                <label for="horafin">Locutores:</label>
            </div>
            <div class="col-9">
                <div class="row">
                    {% for locutor in locutores %}
                        <div class="col-5">
                            <input name="locutor" type="checkbox" value="{{ locutor.id }}"/> <label>{{ locutor.nombre }}</label> 
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary btn-lg mt-5 submit"><i class="fas fa-plus-circle"></i>Agregar Programa</button>
    </form>
{% endblock %}
{% block page_script %}
    <script src="{% static 'webAdminRadio/js/img_preview.js' %}"></script>
    {% comment %} <script src="{% static 'webAdminRadio/js/componentes/Horarios.js' %}"></script> {% endcomment %}
    <script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
    <script src="{% static 'webAdminRadio/js/updateImage.js' %}" type="module"></script>

    <script>
        $(document).ready(function(){
            $("#horafin").change(function(){
                $(".alert").remove();
                var horaInicio = $("#horainicio").val();
                var horaFin = $("#horafin").val();
                if (horaFin <= horaInicio) {
                    $("#horafin").parent().after('<div class="alert alert-warning w-75 mt-1 ms-2">La hora de finalización debe ser mayor a la hora de inicio</div>');
                    $("#horafin").val("");
                }
            })
            $("#horainicio").change(function(){
                $(".alert").remove();
                var horaf = document.getElementById('horafin')
                var horaInicio = $("#horainicio").val();
                var horaFin = $("#horafin").val();
                if (horaFin <= horaInicio && horaf.value) {
                    $("#horainicio").parent().after('<div class="alert alert-warning w-75 mt-1 ms-2">La hora de inicio debe ser menor a la hora de finalizacion</div>');
                    $("#horainicio").val("");
                }
            }) 
        })
    </script>
{% endblock %}