{% extends 'webAdminRadio/base_site.html' %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/agregar_segmento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}
{% block content %}
    {% if error %}
        <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="">
                <h3 slot="header">Error</h3>
                <div slot="body">
                    <p>Existen algunos errores en los siguientes campos:</p>
                    {% for campo,e in error.items %}
                        <h5>{{campo}}</h5>
                        {{e}}
                    {% endfor %}
                </div>
            </modal-info>
        </div>
    {% endif %}
    {% if success %}
    <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="{% url 'podcasts' %}">
                <h3 slot="header">Información</h3>
                <p slot="body">{{success}}</p>
            </modal-info>
    </div>
    {% endif %}
    <h4><b>Información de Podcast</b></h4>
    <form id="addSegmento" class="mt-5" method="POST" action="{% url 'agregar_podcasts' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Imagen del podcast -->
        <div class="d-flex flex-column align-items-center mb-3">
            <div class="img-holder">
                <img class="rounded-4" id="preview" src="{% static 'webAdminRadio/images/logo_radio.jpg' %}">
            </div>
            <div class="form-file input-group w-50">
                <input type="file" name="archivo" class="custom-file-input form-control" id="imgSegmento" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept=".png, .jpg, .jpeg" oninvalid="this.setCustomValidity('Ingrese un escudo valido)" oninput="this.setCustomValidity('')" required>
                <input type="hidden" name="imagen" value="redonda.jpg" id="imagen">
            </div>
        </div>

        <!-- Selección de Emisora -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="emisoraSelect">Emisora</label>
            </div>
            <div class="col-9">
                <select id="emisoraSelect" class="form-select form-control" name="emisora" oninvalid="this.setCustomValidity('Seleccione una emisora de la lista')" oninput="this.setCustomValidity('')" required>
                    <option value="" selected disabled>Seleccione la emisora</option>
                    {% for emisora in emisoras %}
                        <option value="{{ emisora.id }}">{{ emisora.id_radio.nombre }} {{ emisora.frecuencia_dial }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Titulo del podcast -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="nombreInput">Título</label>
            </div>
            <div class="col-9">
                <input required name="nombre" id="nombreInput" type="text" class="form-control" placeholder="Ingrese el título del podcast" maxlength=150>
            </div>
        </div>

        <!-- Descripción -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="descInput">Descripción</label>
            </div>
            <div class="col-9">
                <textarea class="form-control" id="descInput" name="descripcion" rows="3" placeholder="Ingrese una breve descripción" oninvalid="this.setCustomValidity('Ingrese una descripcion del podcast')" oninput="this.setCustomValidity('')" maxlength="250" required></textarea>
            </div>
        </div>

        <!-- Audio -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="urlInput">Archivo audio</label>
            </div>
            <div class="form-file input-group w-50">
                <input type="file" name="archivo" class="custom-file-input form-control" id="audioSegmento" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept=".mp3, .flac, .aac," oninvalid="this.setCustomValidity('Ingrese un archivo valido)" oninput="this.setCustomValidity('')" required>
                <!-- <input type="hidden" name="audio" value="redonda.jpg" id="imagen"> -->
            </div>
        </div>

        <!--Estado Activo-->
        <div class="row mb-3">
            <div class="col-3">
                <label class="form-check-label" for="flexSwitchCheckChecked">Activo</label>
            </div>
            <div class="col-9 fs-3 form-check form-switch">
                <input name="estado" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary btn-lg mt-5 submit"><i class="fas fa-plus-circle"></i>Agregar Podcast</button>
    </form>
{% endblock %}
{% block page_script %}
<script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
<script src="{% static 'webAdminRadio/js/img_preview.js' %}"></script>
<script>
    $(document).ready(function(){
        start = document.getElementById('fechasubida');
        actual = new Date();
        start.min= actual.toISOString().split('T')[0]
    })
</script>
{% endblock %}