{% extends 'webAdminRadio/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/base_site.css' %}">
{% endblock %}
{% block navigation %}
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="{% static 'webAdminRadio/images/placeholder.png' %}" >
        </div>
        <ul class="list-unstyled components">
            <p>Menú</p>
            <li class="">
                <a class="action" href="{% url 'administrador' %}"><i class="fas fa-home fa-fw"></i><span></span>Principal</a>
            </li>
            <li >
                <a class="action" href="{% url 'emisoras' %}"><i class="fas fa-broadcast-tower"></i>Emisoras</a>
            </li>
            <li>
                <a class="action" href="{% url 'api:usuarios-list' %}"><i class="fas fa-user-friends"></i>Usuarios</a>
            </li>
            <li>
                <a class="action" href="{% url 'programas' %}"><i class="fas fa-microphone"></i>Programas</a>
            </li>
            {% comment %} <li>
                <a class="action" href="{% url 'webadminradio:locutores' %}"><i class="fas fa-headset"></i>Locutores</a>
            </li>
            <li>
                <a class="action" href="{% url 'webadminradio:concursos' %}"><i class="fas fa-award"></i>Concursos</a>
            </li>
            <li>
                <a class="action" href="{% url 'webadminradio:encuestas' %}"><i class="fas fa-clipboard-list"></i>Encuestas</a>
            </li>
            <li>
                <a class="action" href="{% url 'webadminradio:torneos' %}"><i class="fas fa-trophy"></i>Torneos</a>
            </li>
            {% endcomment %}
            <li>
                <a class="action" href="{% url 'torneos' %}"><i class="fas fa-trophy"></i>Torneos</a>
            </li>
            <li>
                <a class="action" href="{% url 'equipos' %}"><i class="fas fa-futbol"></i>Equipos</a>
            </li>
            <li>
                <a class="action" href="{% url 'partidos' %}"><i class="fas fa-futbol"></i>Partidos</a>
            </li>
            {% comment %} <li>
                <a class="action" href="{% url 'webadminradio:transmisiones' %}"><i class="fas fa-rss"></i>Transmisiones</a>
            </li>
            <li>
                <a class="action" href="{% url 'webadminradio:galeria' %}"><i class="fas fa-images"></i>Galeria</a>
            </li>
            <li>
                <a class="action" href="{% url 'webadminradio:podcasts' %}"><i class="fas fa-volume-up"></i>Podcasts</a>
            </li>
            <li>
                <a class="action" href="{% url 'webadminradio:sugerencias' %}"><i class="fas fa-edit"></i>Sugerencias</a>
            </li>
            <li>
                <a class="action" href="{% url 'webadminradio:publicidad' %}"><i class="fas fa-ad"></i>Publicidad</a>
            </li>
            <li>
                <a class="action" href="#"><i class="fas fa-file-alt"></i>Reportes</a>
            </li> {% endcomment %}
        </ul>
    </nav>
    <!-- Barra de navegación -->
    <div id="content" class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info btn-navbar">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
                    </li>
                    <!-- Botón provisional para Logout-->
                    <form class="form-inline" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary btn-sm" type="submit">Cerrar Sesión</button>
                    </form>
                </ul>
            </div>
        </nav>
        <div class="navbar navbar-expand-lg navbar-light bg-light navbar-title px-2">
            <h2><b>{{ title }}</b></h2>
            <!-- Bloque para el botón de agregar -->
            {% block agregar_button %}
            {% endblock %}
        </div>
        <div class="panel">
            <div class="panel-body">
                <!-- Este bloque es donde va el contenido de la página -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'webAdminRadio/js/navbar.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
      });
</script>
{% endblock %}