{% extends 'webAdminRadio/base_site.html' %}
{% load static %}

{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/agregar_segmento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}

{% block content %}
    {% if error %}
    <div id="componente_modal_info">
        <modal-info v-if="showModal" url_redirect="">
            <h3 slot="header">Error</h3>
            <div slot="body">
                <p>Existen algunos errores en los siguientes campos:</p>
                {% for campo,e in error.items %}
                    <h5>{{campo}}</h5>
                    {{e}}
                {% endfor %}
            </div>
        </modal-info>
    </div>
    {% endif %}
    {% if success %}
        <div id="componente_modal_info">
        <modal-info v-if="showModal" url_redirect="{% url 'webadminradio:asignar_permisos' id_usuario %}">
            <h3 slot="header">Información</h3>
            <p slot="body">{{success}}</p>
        </modal-info>
        </div>
    {% endif %}
    <h4><b>Información del Usuario </b></h4>
    <form id="addLocutor" onsubmit="alert(action);return validate()" action="{% url 'webadminradio:editar_usuario' usuario.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Nombre del usuario -->
    <div class="form-group row">
        <label for="nombre" class="col-sm-1 col-form-label">Nombres</label>
        <div class="col-sm-11">
            <input id="nombre" name="nombre" type="text" class="form-control" value="{{ usuario.first_name }}" oninvalid="this.setCustomValidity('Ingrese un nombre válido')" oninput="this.setCustomValidity('')" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="apellido" class="col-sm-1 col-form-label">Apellidos</label>
        <div class="col-sm-11">
            <input id="apellido" name="apellido" type="text" class="form-control" value="{{ usuario.last_name }}" oninvalid="this.setCustomValidity('Ingrese un apellido válido')" oninput="this.setCustomValidity('')" required>
        </div>
    </div>
    <div class="form-group row">
            <label for="user" class="col-sm-1 col-form-label">Username</label>
            <div class="col-sm-11">
                <input id="user" name="username" type="text" class="form-control" value="{{ usuario.username }}" oninvalid="this.setCustomValidity('Ingrese un username válido')" oninput="this.setCustomValidity('')" required>
            </div>
        </div>
    <!-- Fecha de Nacimiento -->
    <div class="form-group">
        <label for="fechaNac">Fecha de Nacimiento</label>
        <input id="fechaNac" name="fechaNac" type="date" class="form-control" value="{{ usuario.fecha_nac|date:'Y-m-d' }}"oninvalid="this.setCustomValidity('Ingrese una fecha')" oninput="this.setCustomValidity('')" required>
    </div>
    <!-- E-mail -->
    <div class="form-group">
        <label for="email">Direccion de correo electrónico</label>
        <input id="email" name="email" type="email" class="form-control" value="{{ usuario.email }}" oninvalid="this.setCustomValidity('Ingrese una direccion válida')" oninput="this.setCustomValidity('')" required>
    </div>
    <!-- Teléfono -->
    <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input id="telefono" name="telefono" type="tel" pattern="[0-9]{9,10}" class="form-control" value="{{ usuario.telefono }}" oninvalid="this.setCustomValidity('Ingrese un telefono válido')" oninput="this.setCustomValidity('')" required>
    </div>
    <!-- Rol -->
    <div class="form-group">
        <label for="tipo_usuario">Rol del usuario</label>
        <select name="tipo_select" id="tipo" class="custom-select">
            <option value="Locutor">Locutor</option>
            <option value="Gerente">Gerente</option>
            <option value="Director">Director</option>
            <option value="Community Manager">Community Manager</option>
        </select>
    </div>
    <!-- Imange del usuario -->
    <div class="form-group">
        <div class="custom-file">
            <label for="imgUsuario" class="custom-file-label">Imagen del Usuario</label>
            <input type="file" name="imagen" src="{{ usuario.imagen.url }}" class="custom-file-input" id="imgUsuario" accept=".png, .jpg, .jpeg" oninvalid="this.setCustomValidity('Ingrese una imagen para el segmento')" oninput="this.setCustomValidity('')">
            <div class="img-holder">
                {% if usuario.imagen %}
                    <img id="preview" src="{{ usuario.imagen.url }}">
                {% else %}
                    <img id="preview" src="{% static 'webAdminRadio/images/placeholder.png' %}">
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <!-- Información que se llenará si se quiere ingresar un locutor -->
    <h4><b>Información adicional</b> (Opcional)</h4>
    <!-- Apodo -->
    <div class="form-group">
        <label for="apodo">Apodo</label>
        <input id="apodo" class="form-control" name="apodo" type="text" value="{% if usuario.apodo != 'None' %}{{ usuario.apodo }}{% endif %}"oninvalid="this.setCustomValidity('Ingrese un apodo válido')" oninput="this.setCustomValidity('')">
    </div>
    <!-- Biografia -->
    <div class="form-group">
        <label for="biografia">Biografia</label>
        <textarea id="biografia" class="form-control" name="biografia" rows="3" placeholder="Ingrese la biografia del usuario" oninvalid="this.setCustomValidity('Ingrese la biografia del usuario')" oninput="this.setCustomValidity('')" maxlength="250">{% if usuario.biografia != 'None' %}{{ usuario.biografia }}{% endif %}</textarea>
    </div>
    <!-- Hobbies -->
    <div class="form-group">
        <label for="hobbies">Hobbies (separado por comas)</label>
        <input id="hobbies" class="form-control" name="hobbies" type="text" value="{% if usuario.hobbies != 'None' %}{{ usuario.hobbies }}{% endif %}">
    </div>
    <!-- Div de Redes Sociales-->
    <div class="form-group">
        <label for="">Redes Sociales</label>
        <div id="componente_redsocial">
                
            
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg submit"><i class="fas fa-plus-circle"></i>Guardar y continuar</button>
    </form>
    {% endblock %}
{% block page_script %}
    
{% endblock %}