{% extends 'webAdminRadio/base_site.html' %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/agregar_segmento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}
{% block content %}
    {% if error %}
        <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="">
                <h3 slot="header">Error</h3>
                <div slot="body">
                    <p>Existen algunos errores en los siguientes campos:</p>
                    {% for campo,e in error.items %}
                        <h5>{{campo}}</h5>
                        {{e}}
                    {% endfor %}
                </div>
            </modal-info>
        </div>
    {% endif %}
    {% if success %}
    <div id="componente_modal_info">
        <modal-info v-if="showModal" url_redirect="{% url 'webadminradio:segmentos' %}">
            <h3 slot="header">Información</h3>
            <p slot="body">{{success}}</p>
        </modal-info>
    </div>
    {% endif %}
    <h4><b>Información del Programa</b></h4>
    <form id="addSegmento" onsubmit="return validate()" action="{% url 'webadminradio:editar_segmento' segmento.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="emisoraSelect">Emisora</label>
        <select id="emisoraSelect" class="custom-select form-control" name="emisora" oninvalid="this.setCustomValidity('Seleccione una emisora de la lista')" required oninput="this.setCustomValidity('')">
            {% for emisora in emisoras %}
                {% if segmento.idEmisora.id == emisora.id %}
                    <option selected value="{{ emisora.id }}">{{ emisora.nombre }}</option>
                {% else %}
                    <option value="{{ emisora.id }}">{{ emisora.nombre }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="nombreInput">Nombre</label>
        <input id="nombreInput" name="nombre" type="text" class="form-control" value="{{ segmento.nombre }}" placeholder="Ingrese un nombre para el programa" oninvalid="this.setCustomValidity('Ingrese un nombre para el segmento')" oninput="this.setCustomValidity('')" required>
    </div>
    <div class="form-group">
        <label for="resenaInput">Reseña Publicitaria</label>
        <input id="resenaInput" name="slogan" type="text" class="form-control" value="{{ segmento.slogan }}" placeholder="Ejemplo: ¡El mejor show para la familia!" oninvalid="this.setCustomValidity('Ingrese una reseña Publicitaria')" oninput="this.setCustomValidity('')" required>
    </div>
    <div class="form-group">
        <label for="descInput">Descripción</label>
        <textarea class="form-control" id="descInput" name="descripcion" rows="3" placeholder="Ingrese una breve descripción del programa" oninvalid="this.setCustomValidity('Ingrese una descripcion del segmento')" oninput="this.setCustomValidity('')" maxlength="250" required>{{ segmento.descripcion }}</textarea>
    </div>
    <label>Horarios</label>
    <!-- <div class="form-group">
        <div id="componente_horario">
            <horario></horario>
        </div>
    </div> -->
    <div class="form-group">
            <label for="dias">Dias a emitir</label>
            <select name="dias" id="dias" class="custom-select" oninvalid="this.setCustomValidity('Seleccione una de las opciones de la lista')" oninput="this.setCustomValidity('')" required>
                <option value="" selected disabled>Seleccione los dias a emitir el programa</option>
                <option value="L">Lunes a Viernes</option>
                <option value="SD">Sábado y Domingo</option>
                <option value="S">Sábado</option>
                <option value="D">Domingo</option>
            </select>
        </div>
        <!-- Hora inicio -->
        <div class="form-group">
            <label for="horainicio">Hora de inicio</label>
            <input id="horainicio" name="horainicio" type="time" class="form-control" oninvalid="this.setCustomValidity('Ingrese una hora')" oninput="this.setCustomValidity('')" required>
        </div>
        <!-- Hora fin -->
        <div class="form-group">
            <label for="horafin">Hora de finalizacion</label>
            <input id="horafin" name="horafin" type="time" class="form-control" oninvalid="this.setCustomValidity('Ingrese una hora')" oninput="this.setCustomValidity('')" required>
        </div>


    <div class="form-group">
        <div class="custom-file">
            <label for="imgSegmento" class="custom-file-label">Imagen del Programa</label>
            <input type="file" name="imagen" class="custom-file-input" id="imgSegmento" src="{{ segmento.imagen.url }}" accept=".png, .jpg, .jpeg" oninvalid="this.setCustomValidity('Ingrese una imagen para el segmento')" oninput="this.setCustomValidity('')">
            <div class="img-holder">
                <img id="preview" src="{{ segmento.imagen.url }}">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg submit"><i class="fas fa-plus-circle"></i>Guardar Cambios</button>
    </form>
{% endblock %}
{% block page_script %}
    <script src="{% static 'webAdminRadio/js/img_preview.js' %}"></script>
    <script src="{% static 'webAdminRadio/js/componentes/Horarios.js' %}"></script>
    <script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
    <script type="text/javascript">
        var horarios = {{ horarios|safe }};
        contenedorHorario.$children[0].$data.horarios.pop();
        for (var i=0; i < horarios.length; i++){
            contenedorHorario.$children[0].$data.horarios.push(horarios[i]);
        }
    </script>
{% endblock %}