{% extends 'webAdminRadio/base_site.html' %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/agregar_segmento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}
{% block content %}
    {% if error %}
        <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="">
                <h3 slot="header">Error</h3>
                <div slot="body">
                    <p>Existen algunos errores en los siguientes campos:</p>
                    {% for campo,e in error.items %}
                        <h5>{{campo}}</h5>
                        {{e}}
                    {% endfor %}
                </div>
            </modal-info>
        </div>
    {% endif %}
    {% if success %}
    <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="{% url 'noticia' %}">
                <h3 slot="header">Información</h3>
                <p slot="body">{{success}}</p>
            </modal-info>
    </div>
    {% endif %}
    <h4><b>Información de Noticia</b></h4>
    <form id="addSegmento" onsubmit="return validate()" action="{% url 'editar_noticia' noticia.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}


        <!-- Div de imagen -->
        <div class="d-flex flex-column align-items-center mb-3">
            <div class="img-holder d-flex align-items-center">
                <img id="preview" src="{{ noticia.imagen }}">
            </div>
            <div class="form-file input-group mb-3 w-50">
                <input type="file" name="archivo" class="form-control" id="imgSegmento" accept=".png, .jpg, .jpeg" oninvalid="this.setCustomValidity('Ingrese una imagen')" oninput="this.setCustomValidity('')">
                <input type="hidden" name="imagen" value="{{ noticia.imagen }}" id="imagen">
            </div>
        </div>

        <!-- Selección de Emisora -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="emisoraSelect">Emisora</label>
            </div>
            <div class="col-9">
                <select id="emisoraSelect" class="form-select form-control" name="emisora" oninvalid="this.setCustomValidity('Seleccione una radio de la lista')" oninput="this.setCustomValidity('')" required>
                    <option value="" selected disabled>Seleccione la emisora</option>
                    {% for emisora in emisoras %}
                        <option value="{{ emisora.id }}"
                        {% if emisora.id == noticia.id_emisora.id %}
                        selected
                        {% endif %}>{{ emisora.id_radio.nombre }} {{ emisora.frecuencia_dial }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Tipo -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="tipoSelect">Tipo</label>
            </div>
            <div class="col-9">
                <select name="tipo" id="tipoSelect" class="form-select" oninvalid="this.setCustomValidity('Seleccione una emisora de la lista')" oninput="this.setCustomValidity('')" required>
                    <option value="" selected disabled>Seleccione un tipo</option>
                    <option value="Noticia" {% if noticia.tipo == 'Noticia' %} selected{% endif %}>Noticia</option>
                    <option value="Tip"{% if noticia.tipo == 'Tip' %} selected{% endif %}>Tip</option>
                </select>
            </div> 
        </div> 

        <!-- Div de Título -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="nombreInput">Título</label>
            </div>
            <div class="col-9">
                <input required name="titulo" value="{{ noticia.titulo }}" id="nombreInput" type="text" class="form-control" placeholder="Ingrese el título de la noticia o tip" maxlength=150>
            </div>
        </div>

        <!-- Fin subida -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="fechasubida">fecha de subida</label>
            </div>
            <div class="col-9">
                <input id="fechasubida" name="fechasubida" value="{{ fechasubida }}" type="date" class="form-control" oninvalid="this.setCustomValidity('Ingrese una fecha')" oninput="this.setCustomValidity('')" required>
            </div>
        </div>

        <!-- Descripción -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="descInput">Contenido</label>
            </div>
            <div class="col-9">
                <textarea class="form-control" rows="15" id="descInput" name="descripcion" placeholder="Ingrese el contenido" oninvalid="this.setCustomValidity('Ingrese el contenido')" oninput="this.setCustomValidity('')" required>{{noticia.descripcion}}</textarea>
            </div>
        </div>

        <!--Estado Activo-->
        <div class="row mb-3">
            <div class="col-3">
                <label class="form-check-label" for="flexSwitchCheckChecked">Activo</label>
            </div>
            <div class="col-9 fs-3 form-check form-switch">
                <input name="activo" class="form-check-input"  type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if noticia.activo %} checked{% endif %}>
            </div>
        </div>
        
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary btn-lg submit"><i class="fas fa-plus-circle"></i>Modificar</button>
            <a href="{% url 'noticia' %}" class="btn btn-danger btn-lg ms-5"><i class="fa-solid fa-circle-xmark"></i>Cancelar</a>
        </div>
    </form>
{% endblock %}
{% block page_script %}
<script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
<script src="{% static 'webAdminRadio/js/img_preview.js' %}"></script>
<script>
    $(document).ready(function(){
        start = document.getElementById('fechasubida');
        actual = new Date();
        start.min= actual.toISOString().split('T')[0]
    })
</script>
{% endblock %}