{% extends 'webAdminRadio/base_site.html' %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/agregar_segmento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}
{% block content %}
    {% if error %}
        <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="">
                <h3 slot="header">Error</h3>
                <div slot="body">
                    <p>Existen algunos errores en los siguientes campos:</p>
                    {% for campo,e in error.items %}
                        <h5>{{campo}}</h5>
                        {{e}}
                    {% endfor %}
                </div>
            </modal-info>
        </div>
    {% endif %}
    {% if success %}
    <div id="componente_modal_info">
        <modal-info v-if="showModal" url_redirect="{% url 'publicidad' %}">
            <h3 slot="header">Información</h3>
            <p slot="body">{{success}}</p>
        </modal-info>
    </div>
    {% endif %}
    <h4><b>Información de Publicidad</b></h4>
    <form id="addSegmento" onsubmit="return validate()" action="{% url 'editar_publicidad' publicidad.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Div de imagen -->
        <div class="d-flex flex-column align-items-center mb-3">
            <div class="img-holder d-flex align-items-center">
                <img id="preview" src="{{ publicidad.imagen }}">
            </div>
            <div class="form-file input-group mb-3 w-50">
                <input type="file" name="archivo" class="form-control" id="imgSegmento" accept=".png, .jpg, .jpeg" oninvalid="this.setCustomValidity('Ingrese una imagen')" oninput="this.setCustomValidity('')">
                <input type="hidden" name="imagen" value="{{ publicidad.imagen }}" id="imagen">
            </div>
        </div>
        
        <!-- Div de Título -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="nombreInput">Título</label>
            </div>
            <div class="col-9">
                <input required name="titulo" value="{{ publicidad.titulo }}" id="nombreInput" type="text" class="form-control" placeholder="Ingrese el título de la publicidad" maxlength=150>
            </div>
        </div>

        <!-- Div de url -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="urlInput">URL de la publicidad</label>
            </div>
            <div class="col-9">
                <input required name="url" value="{{ publicidad.url }}" id="urlInput" type="text" class="form-control" placeholder="Ingrese el url de la publicidad">
            </div>
        </div>

        <!-- Div de persona/empresa cliente -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="clienteInput">Persona/Empresa Cliente</label>
            </div>
            <div class="col-9">
                <input required name="cliente" value="{{ publicidad.cliente }}" id="clienteInput" type="text" class="form-control" placeholder="Ingrese el nombre de la persona o empresa cliente de la publicidad" maxlength=300></input>
            </div>
        </div>

        <!-- Descripción -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="descInput">Descripción</label>
            </div>
            <div class="col-9">
                <textarea class="form-control" id="descInput" name="descripcion" rows="3" placeholder="Ingrese una breve descripción de la publicidad" oninvalid="this.setCustomValidity('Ingrese una descripcion del segmento')" oninput="this.setCustomValidity('')" maxlength="250" required>{{ publicidad.descripcion }}</textarea>
            </div>
        </div>


        <!-- Selección de Radio -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="radioSelect">Radio</label>
            </div>
            <div class="col-9">  
                <select id="radioSelect" class="form-select form-control" name="radio" oninvalid="this.setCustomValidity('Seleccione una radio de la lista')" required oninput="this.setCustomValidity('')">
                    <option value="" selected disabled>Seleccione la radio</option>
                    {% for radio in radios %}
                        <option value="{{ radio.id }}"
                        {% if radio.id == publicidad.id_radio.id %}
                        selected
                        {% endif %}>{{ radio.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Fin inicio -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="fechainicio">fecha de inicio</label>
            </div>
            <div class="col-9">
                <input id="fechainicio" name="fechainicio" value="{{ fechainicio }}" type="date" class="form-control" oninvalid="this.setCustomValidity('Ingrese una fecha')" oninput="this.setCustomValidity('')" required>
            </div>
        </div>
        <!-- Fin fin -->
        <div class="row mb-3">
            <div class="col-3">
                <label for="fechafin">fecha de finalizacion</label>
            </div>
            <div class="col-9">
                <input id="fechafin" name="fechafin" value="{{ fechafin }}" type="date" class="form-control" oninvalid="this.setCustomValidity('Ingrese una fecha')" oninput="this.setCustomValidity('')" required>
            </div>
        </div>

        <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary btn-lg submit"><i class="fas fa-plus-circle"></i>Editar Publicidad</button>
            <a href="{% url 'publicidad' %}" class="btn btn-danger btn-lg ms-5"><i class="fa-solid fa-circle-xmark"></i>Cancelar</a>
        </div>
    </form>
{% endblock %}
{% block page_script %}
    <script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
    <script src="{% static 'webAdminRadio/js/img_preview.js' %}"></script>
    <script>
        $(document).ready(function(){
            start = document.getElementById('fechainicio');
            end = document.getElementById('fechafin');
            start.addEventListener('change', function() {
                if (start.value) end.min = start.value;
            }, false);
            end.addEventListener('change', function() {
                if (end.value) start.max = end.value;
            }, false);
            let valor = document.getElementById('imgSegmento')
            console.log(valor.value)
            valor.addEventListener('change', function() {
                console.log(valor.value)
            });
        })
    </script>
{% endblock %}