{% extends 'webAdminRadio/base_site.html' %}
{% comment %} {% load webadmin_tags %} {% endcomment %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/emisoras.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}
{% block agregar_button %}
    <a href="{% url 'agregar_emisora' %}" class="btn btn-primary btn-md ms-auto action" role="button"><i class="fas fa-plus-circle"></i>Agregar Emisora</a>
{% endblock %}

{% block content %}
    {% if messages %}
        <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="">
                <h3 slot="header" class="action"><i class="fas fa-info-circle"></i>Información</h3>
                <div slot="body">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </modal-info>
        </div>
    {% endif %}
    {% comment %} <div id="componente_borrar">
        <modal-borrar v-if="showModal" url_redirect="{% url 'webadminradio:borrar_emisora' 1 %}">
            <h3 slot="header" class="action"><i class="fas fa-exclamation-triangle "></i>¡Aviso!</h3>
            <div slot="body">
                <p>¿Está seguro de eliminar esta emisora?</p>
            </div>
        </modal-borrar>
    </div> {% endcomment %}
    <div class="emisoras">
        {% for emisora in emisoras %}
        <div class="wrapper">
            <div class="img-container">
                <img class="image" src="{{emisora.id_radio.logotipo}}" alt="Radio La Redonda">
            </div>
            <div class="info-container">
                <h3><b>{{ emisora.id_radio.nombre }}</b></h3>
                {% if emisora.tipo != "Null" %}
                <p><i>{{ emisora.frecuencia_dial }} {{ emisora.tipo_frecuencia }}</i></p>
                {% else %}
                <p><i></i>
                {% endif %}
                <p><i class="fas fa-map-marker-alt icon"></i>{{emisora.direccion}}, {{emisora.ciudad}}, {{emisora.provincia}}</p>
                {% comment %} {% get_telf_emisora emisora as telefonos %}
                    <p><i class="fas fa-phone icon"></i>
                        {% for tel in telefonos %}
                            {{ tel.nro_telefono }}
                        {% endfor %}
                    </p> {% endcomment %}
                <p><i class="fas fa-globe icon"></i><a href="{{ emisora.id_radio.sitio_web }}"> {{ emisora.id_radio.sitio_web }}</a></p>
            </div>
            <div class="btn-wrapper">
                <div class="act-buttons">
                    <a href="{% url 'editar_emisora' %}" class="btn btn-primary btn-md action a-btn" role="button"><i class="fas fa-pen"></i>Editar información</a>
                    <a href="#"  onclick="showWarning({{ emisora.id }})" class="btn btn-primary btn-md action a-btn" role="button"><i class="fas fa-times"></i>Eliminar Radio</a>
                </div>
                {% comment %} <div class="info">
                    <p><b>Segmentos registrados:</b> {% get_cant_segmentos emisora %}</p>
                    <p><b>Locutores registrados:</b> {% get_cant_locutores emisora %}</p>
                </div> {% endcomment %}
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
{% endblock %}

{% comment %} 
{% block page_script %}
    <script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
    <script src="{% static 'webAdminRadio/js/componentes/BorrarComponent.js' %}"></script>
    <script>
        function showWarning(id){
            contenedorBorrar.$data.objects_to_delete = "emisoras";
            contenedorBorrar.$data.id = id;
            contenedorBorrar.$data.showModal = true;        }
    </script>
{% endblock %} {% endcomment %}