{% extends 'webAdminRadio/base_site.html' %}
{% comment %} {% load webadmin_tags %} {% endcomment %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static './css/emisoras.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/modal_info.css' %}">
{% endblock %}
{% comment %} {% block agregar_button %}
    <a href="{% url 'webadminradio:agregar_emisora' %}" class="btn btn-primary btn-md ml-auto action" role="button"><i class="fas fa-plus-circle"></i>Agregar Emisora</a>
{% endblock %} {% endcomment %}

{% comment %} {% block content %}
    {% if messages %}
        <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="">
                <h3 slot="header" class="action"><i class="fas fa-info-circle"></i>Información</h3>
                <div slot="body">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </modal-info>
        </div>
    {% endif %}
    <div id="componente_borrar">
        <modal-borrar v-if="showModal" url_redirect="{% url 'webadminradio:borrar_emisora' 1 %}">
            <h3 slot="header" class="action"><i class="fas fa-exclamation-triangle "></i>¡Aviso!</h3>
            <div slot="body">
                <p>¿Está seguro de eliminar esta emisora?</p>
            </div>
        </modal-borrar>
    </div>
    <div class="emisoras">
        {% for emisora in emisoras %}
        <div class="wrapper">
            <div class="img-container">
                <img class="image" src="{{ emisora.logotipo.url }}">
            </div>
            <div class="info-container">
                <h3><b>{{ emisora.nombre }}</b></h3>
                {% if emisora.tipo != "NO" %}
                <p><i>{{ emisora.frecuencia_dial }} {{ emisora.tipo }}</i>
                {% else %}
                <p><i>{{ emisora.descripcion }}</i>
                {% endif %}
                <p><i class="fas fa-map-marker-alt icon"></i>{{ emisora.direccion }}</p>
                {% get_telf_emisora emisora as telefonos %}
                    <p><i class="fas fa-phone icon"></i>
                        {% for tel in telefonos %}
                            {{ tel.nro_telefono }}
                        {% endfor %}
                    </p>
                <p><i class="fas fa-globe icon"></i><a href="{{ emisora.sitio_web }}">{{ emisora.sitio_web }}</a></p>
            </div>
            <div class="btn-wrapper">
                <div class="act-buttons">
                    <a href="{% url 'webadminradio:editar_emisora' emisora.id %}" class="btn btn-primary btn-md action a-btn" role="button"><i class="fas fa-pen"></i>Editar información</a>
                    <a href="#"  onclick="showWarning({{ emisora.id }})" class="btn btn-primary btn-md action a-btn" role="button"><i class="fas fa-times"></i>Eliminar Radio</a>
                </div>
                <div class="info">
                    <p><b>Segmentos registrados:</b> {% get_cant_segmentos emisora %}</p>
                    <p><b>Locutores registrados:</b> {% get_cant_locutores emisora %}</p>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
{% endblock %} {% endcomment %}

{% comment %} 
{% block page_script %}
    <script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
    <script src="{% static 'webAdminRadio/js/componentes/BorrarComponent.js' %}"></script>
    <script>
        function showWarning(id){
            contenedorBorrar.$data.objects_to_delete = "emisoras";
            contenedorBorrar.$data.id = id;
            contenedorBorrar.$data.showModal = true;        }
    </script>
{% endblock %} {% endcomment %}