{% extends 'webAdminRadio/base_site.html' %}
{% load static %}
{% comment %}
{% load webadmin_tags %}
{% endcomment %}

{% block page_style %}
<link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}


{% block agregar_button %}
{% endblock %}


{% block content %}

{% if messages %}
<div id="componente_modal_info">
    <modal-info v-if="showModal" url_redirect="">
        <h3 slot="header" class="action"><i class="fas fa-info-circle"></i>Información</h3>
        <div slot="body">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
    </modal-info>
</div>
{% endif %}

<div id="componente_borrar">
    <modal-borrar v-if="showModal">
        <h3 slot="header" class="action"><i class="fas fa-exclamation-triangle "></i>¡Aviso!</h3>
        <div slot="body">
            <p>¿Está seguro de que desea eliminar este usuario?</p>
        </div>
    </modal-borrar>
</div>

<div class="d-flex flex-row justify-content-between mx-3 my-2">
    <span class="h2">Usuarios</span>
    <div>
        <a href="{% url 'agregar_usuario' %}" class="btn btn-primary btn-md ml-auto action" role="button"><i
                class="fas fa-plus-circle">
            </i>Agregar Usuario</i>
        </a>
    </div>
</div>
<div class="table-responsive">
    <table id="data_table" class="table table-striped table-bordered dt-body-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imagen</th>
                <th>Nombre y Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>E-mail</th>
                <th>ROL</th>
                <th>Fecha de Creaci&oacute;n</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{user.id}}</td>
                <td class="text-center" WIDTH="150"><img src="{{user.foto}}" width="100%" ></td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.fechaNacimiento}}</td>
                <td>{{user.email}}</td>
                <td>{{user.rol}}</td>
                <td>{{user.date_joined}}</td>
                <td>{{user.activo}}</td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a href="/usuarios/editar/{{user.id}}" class="btn btn-success btn-sm" role="button">
                            <i class="fas fa-pen mx-auto"></i>
                        </a>
                        <a href="#" onclick="showWarning(`{{user.id}}`)" class="btn btn-danger btn-sm" role="button">
                            <i class="fas fa-times mx-auto"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block page_script %}

<script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
<script src="{% static 'webAdminRadio/js/componentes/BorrarComponent.js' %}"></script>  
<script>
    function showWarning(id){
        contenedorBorrar.$data.objects_to_delete = "usuarios";
        contenedorBorrar.$data.id = id;
        contenedorBorrar.$data.showModal = true;
    }
</script>
{% endblock %}