{% extends 'webAdminRadio/base_site.html' %}
{% load static %}
{% comment %} {% load webadmin_tags %} {% endcomment %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/editar_equipo.css' %}">
{% endblock %}
{% block content %}
    <h2><b>{{ equipo.equipo }}</b></h2>


    <div class="img-container">
        <img class="shield" id="preview" src="{{ equipo.imagen }}">
    </div>

    <div class="row mb-3">
        <div class="col-4">
            <label class="fw-bold ms-5 label">URL de imagen:</label>
        </div>
        <div class="col-8">
            <label class="ms-3">{{ equipo.imagen }}</label>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-4">
            <label class="fw-bold ms-5 label">Ciudad:</label>
        </div>
        <div class="col-8">
            <label class="ms-3">{{ equipo.ciudad }}</label>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-4">
            <label class="fw-bold ms-5 label">Descripcion:</label>
        </div>
        <div class="col-8">
            <label class="ms-3">{{ equipo.descripcion }}</label>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-4" id="redSocial">
            <label class="fw-bold ms-5 label">Redes Sociales:</label>
        </div>
        {% for red in redSociaEquipo %}
        <div class="col-12 text-center">
            <i class="{{ red.id_red_social.logo_red_social }}"></i>
            <label class="ms-3">{{ red.id_red_social.nombre  }}:</label>
            <label class="ms-3"><a href="{{ red.link  }}" target="_blank">{{ red.link  }}</a></label>
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% comment %} {% block page_script %}
<script>
$.ajax({
    url: "/api/redsocial",
    "dataSrc": "",
    "error": function(xhr, status, error) {
        console.log("readyState: " + xhr.readyState);
        console.log("responseText: "+ xhr.responseText);
        console.log("status: " + xhr.status);
        console.log("text status: " + status);
        console.log("error: " + error);
    },
  success: function( result ) {
    console.log(result)
    $.each(result, function(i, item) {
        $( "#redSocial" ).append( `<i class="${item.logo_red_social}"></i>
        ` );
    });
    
  }
});
</script>

{% endblock %} {% endcomment %}