{% extends 'webAdminRadio/base_site.html' %}
{% load static %}
{% comment %} {% load webadmin_tags %} {% endcomment %}
{% block content %}
    <h2><b>{{ equipo.equipo }}</b></h2>
    <div class="d-flex flex-column align-items-center">

        <div class="img-holder mb-5 w-75 d-flex justify-content-center">
            <img class="rounded-4 w-25 h-25" id="preview" src="{{ equipo.imagen }}">
        </div>
        <table class="w-50">

            <tr height="50">
                <th class="w-50">Imagen:</th>
                <td>{{ equipo.imagen }}</td>
            </tr>
            <tr height="50">
                <th class="w-50">Ciudad:</th>
                <td>{{ equipo.ciudad }}</td>
            </tr>
            <tr height="50">
                <th class="w-50">Descripcion:</th>
                <td>{{ equipo.descripcion }}</td>
            </tr>

            
        </table>
        
    </div>

{% endblock %}