{% extends 'webAdminRadio/base_site.html' %}
{% load static %}
{% load webadmin_tags %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/ver_segmentos.css' %}">
{% endblock %}
{% block content %}
    <button class="btn btn-light rounded-circle mx-1" id='volver' type="button"><i class="fas fa-chevron-left"></i></button>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="img-container">
                <img class="image" src="{{ programa.imagen }}">
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-4">
                <label class="fw-bold ms-5 label">Nombre:</label>
            </div>
            <div class="col-8">
                <label class="ms-3">{{ programa.nombre }}</label>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <label class="fw-bold ms-5 label">Logo:</label>
            </div>
            <div class="col-8">
                <label class="ms-3">{{ programa.imagen }}</label>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <label class="fw-bold ms-5 label">Radio:</label>
            </div>
            <div class="col-8">
                <label class="ms-3">{{ segemntoEmisora.emisora.id_radio.nombre }} </label>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <label class="fw-bold ms-5 label">Emisora:</label>
            </div>
            <div class="col-8">
                <label class="ms-3">{{ segemntoEmisora.emisora.frecuencia_dial }} </label>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <label class="fw-bold ms-5 label">Descripción:</label>
            </div>
            <div class="col-8">
                <label class="ms-3">{{ programa.descripcion }}</label>
            </div>
            
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <label class="fw-bold ms-5 label">Horarios:</label>
            </div>
            {% get_horarios programa as horarios %}
            {% for horario in horarios %}
                <div class="row justify-content-end">
                    <div class="col-8">
                        <label class="ms-3">{{ horario.dia }}: {{ horario.hora_inicio|time:"H:i" }} - {{ horario.hora_fin|time:"H:i" }}<hr class="my-1"/></label>
                    </div>
                </div>
            {% endfor %}
            
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <label class="fw-bold ms-5 label">Locutores:</label>
            </div>

            <div class="col-8">
                <ul>
                    {% for locutor in locutores %}
                        <div class="col-5 my-2">
                            <li><label class="ms-3">{{locutor.nombre}}</label></li>
                        </div>
                    {% endfor %} 
                </ul>           
            </div>
        </div>
    </div>
    
{% endblock %}
{% block page_script %}
    <script src="{% static 'webAdminRadio/js/back.js' %}"></script>
{% endblock %}