.menuOptionButton {

    height: 10vh ;
    width: 38vw ;


    // .iconButton {
        
    //     margin-right: -25vw;
    //     margin-top: -1vh;

    // }
    
}

.textButton {
        
    font-size: 1rem;
    font-weight: 500;
}
ion-icon {
    font-size: 2em;
}

.userImage {
    font-size: 7em;
}