.carousel-principal {   
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 1.5rem;

    .carousel {
        width: 80%;
    }
}

.home-container {
    margin: 11rem 1rem 1rem 1rem;
    background: rgb(57, 57, 57);
    border-radius: 0px 0px 8px 8px;
    padding-top: 5.5rem;
    padding-bottom: 0.1rem;
    z-index: -1;
}

.carousel-publicidad {
    margin: 1.5rem 0rem;
}

.information {
    display: inline;

    img {
        width: 60%;
        float: left;
        margin: 0rem 1rem 1rem 0rem;
    }

}
