.buttonNews {
    z-index: 10;
    --background: #000;
}
.body{
    background: black;
}
.cabecera{
    --color: white;
    --height: 500rem;
    --background:green;
}
.contenido{
    --color: white;
    --height: 800rem;
    --background:blue;
}


.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
.imageSizing {
    max-width: 25%;
    height: 25%;
}
.image-container {
    display: flex;
    justify-content: center;
}
.logo {
    width: 40vw;
}
.contenedor-pildora{
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 0 1rem;
    border-radius: 2rem;
}
ion-card-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
    align-items: center;
    justify-items: center;
    background-color: #0d0d0d;
}
ion-card-header .titulo {
    font-size: 1.2rem;
    font-weight: 300;
    color: #f39627;
}
ion-card {
    background-color: transparent;
    border-radius: 1rem;
}
