.image {
    width: 90vw;
    max-height: 40vw;
    border-radius: 5vw;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

ion-slides {
    --bullet-background: orange !important;
    --bullet-background-active: orange !important;

}

:host ::ng-deep ion-slides {
    --bullet-background: yellow !important;
    --bullet-background-active: rebeccapurple !important;
}

.slide {
    position: relative;
}

.information {
    color:white;
    position: absolute;
    max-width: 85vw;
    bottom: 10vw;
}

.tipo {
    white-space: nowrap;
    background: #F69238;

}

.title {
    display: block;
    font-size: 5vw;
    font-weight: 600;
}

.description {
    max-height: 3vw;
    display: block;
    font-size: 3vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.skeleton{
    width: 86vw;
    height: 40vw;
    border-radius: 30vw;
    
}
.text-skeleton{
    border-radius: 5vw;
}