.ion-padding{
    --background: #F69238 !important;
}
.option-text{
    margin-left: 3vw;
}
.popover{
    width: 80vw;
}
.option{
    font-size: 5vw;
    background-color: black;
    margin-top: 1vw;
    margin-bottom: 4vhs;
    margin-left: 6vh;
    padding: 3vw;
    border-radius: 10vw;
}

.option:focus{
    background: #F69238;
    border-radius: 10vw;
 }

 .notification{
    font-size: 4vw;
    color: white;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 2vh;
 }