<app-slides></app-slides>
<app-banner></app-banner>
<div class="">
  <div class="d-flex align-items-center flex-column">
    <div class="title-noticias rectangule-shadow">
      <h2>Noticias</h2>
    </div>
  </div>
  
  <div class="tarjeta-container mt-2">
    <div class="tarjeta-content" *ngFor="let news of newsList; let i = index;">
      <app-noticia-card [news]="news"></app-noticia-card>
      
    </div>
  
  </div>
  
  <ion-infinite-scroll class="white" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="lines-small" loadingText="Cargando más noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
<app-footer></app-footer>