*{
    font-family: libreBaskerville;
}
.inputTopText {
    font-size: larger;
}
.auth-form{
    --background: var(--background-app);
}
.fila{
    display: flex;
    flex-direction: row;

}
.margin-booth{
    margin-left: 2vw;
    margin-right: 2vw;
}
.social-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}



ion-button[shape=circle] {
    --border-radius: 50%;
    width: 64px;
    height: 64px;
}

ion-icon {
    font-size: 64px;
}

.invitadoText {
    font-weight: bolder;
}

.forgot {
    color: #F69238;
   text-decoration: underline;
}

.formField {
    margin-right: .6rem;
}

.input-icons i {
    color: var(--text-color1);
    position: absolute;
}


.errspan {
    font-size: 8vw;
    float: right;
    color: var(--text-color1);
    bottom: 9vw;
    right: -28vw;
    //margin-right: 15px;
    //margin-top: -31px;
    position: relative;
    z-index: 3;
}
.logoImage{
    width: 40vw;
}
.futbol-image{
    width: 90vw;
    box-shadow: 0 2vw 0px 0px #F69238
}
.text-inicio{
    margin-left: 4vw;
}
.text-inicio,.text-ingresar{
    
    font-size: large;
    color: #F69238;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrada{
    padding-left: 2rem;
    font-weight: bold;
    height: 10vw;
    border-radius: 20vw;
    border: none;
    width: 70vw;
    //background-color: black;
}
.entrada::placeholder{
    
    color: var(--text-color1);
    opacity: 0.3;
}
.entrada-group{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-ingresar{
    --background: #F69238 !important;
    --color:#434443
}
.social-media{
    --color: #F69238;
}

.go-out, .go-out a{
    color: var(--text-color1);
    margin-bottom: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //color: #434444;
    font-weight: bold;
}
.go-out{
    margin-top: 5vw;
    margin-bottom: 5vw;
}