
<div class="d-flex flex-column align-items-center">
  <ion-skeleton-text *ngIf="loading" class="skeleton mb-5" [animated]="true" ></ion-skeleton-text>

  <img *ngIf="!loading" class="my-3 rounded-circle img-locutor" src="{{locutor?.imagen}}">
  <div class="titulo soft-shadow">
    {{locutor?.nombre | titlecase}}
  </div>
  <div class="descripcion soft-shadow">
    <span class="text-descripcion">
      {{locutor?.descripcion | lowercase}}
    </span>
  </div>
  <div  class="social-footer">
    <div class="fila">
      
      <a href="">
        <ion-button class="social-media" shape="circle" fill="clear" >
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
      </a>
      <a href="">
        <ion-button class="social-media" shape="circle" fill="clear" >
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-button>
      </a>
      <a href="">
        <ion-button class="social-media margin-booth" shape="circle" fill="clear"  >
          <ion-icon name="logo-twitter"></ion-icon>      
        </ion-button>
      </a>
      
      
    </div>
  </div>
</div>