<ion-header >
    <app-back-toolbar></app-back-toolbar>
</ion-header>

<ion-content class="content">
  <div class="header">
    <ion-img class="logoImage" src="../../assets/images/Logo.png"></ion-img>
    <ion-img class="futbol-image" [src]="'../../assets/images/futbol_radio.jpg'"></ion-img>
  </div>
  <ion-grid>
    <span class="text-inicio">REGISTRO DE USUARIOS</span>
    

    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <ion-col class="" sizeXs="10" sizeSm="4">

        <form method="post" [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">
          <div class="entrada-group mb-3">
            <label *ngIf="errorControl.username.errors?.required && registerForm.get('username').touched" style="color:red ;">*</label>
            <input placeholder="Nombre de usuario" class="rectangule-shadow entrada biggerInput" id="inputUsername" formControlName="username" required>
          </div>

          <div class="entrada-group mb-3">
            <label  *ngIf="errorControl.first_name.errors?.required && registerForm.get('first_name').touched" style="color:red ;">*</label> 
            <input placeholder="Nombre" class="rectangule-shadow entrada" id="inputName" formControlName="first_name" required>
          </div>

          <div class="entrada-group mb-3">
            <label *ngIf="errorControl.last_name.errors?.required && registerForm.get('last_name').touched" style="color:red ;" >*</label> 
            <input placeholder="Apellido" class="rectangule-shadow entrada" id="inputLname" formControlName="last_name" required>
          </div>

          <div class="entrada-group mb-3">
            <label *ngIf="errorControl.email.errors?.required && registerForm.get('email').touched" style="color:red ;" for="inputPrivacy">E-mail requerido.</label> 
            <input placeholder="Correo" class="rectangule-shadow entrada" type="email" id="inputEmail" formControlName="email" required>
            <small *ngIf="registerForm.get('email').errors?.['email']" style="color:red ;">E-mail inválido.</small> 
          </div>

          <div class="entrada-group mb-3">
            <label *ngIf="errorControl.password.errors?.required && registerForm.get('password').touched" style="color:red ;">Contraseña requerida.</label> 
            <div class="entrada-icon">
              <input placeholder="Contraseña" class="rectangule-shadow entrada " [type]="showPassword ? 'text' : 'password'"  formControlName="password" required>
              <ion-icon class="errspan" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="showHide()"></ion-icon>  
            </div>
            <small *ngIf="errorControl.password.errors?.['minlength']" class="text-danger">La contraseña debe tener minimo 8 caracteres.</small>          
          </div>

          <div class="entrada-group mb-3">
            <label *ngIf="errorControl.conf_password.errors?.required && registerForm.get('conf_password').touched" style="color:red ;">Confirmación requerida.</label>
            <div class="entrada-icon">
              <input placeholder="Confirmar contraseña" class="rectangule-shadow entrada " [type]="showPassword ? 'text' : 'password'"  formControlName="conf_password" required >
              <ion-icon class="errspan" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="showHide()"></ion-icon>  
            </div>
            <small *ngIf="errorControl.conf_password.errors?.['minlength']" class="text-danger">La contraseña debe tener minimo 8 caracteres.</small>          
          </div>

          <ion-row class="ion-text-center">
            <ion-col>
              <ion-item class="content" lines="none">
                <ion-checkbox  formControlName="policy"></ion-checkbox>
                <ion-label class="politicas ion-text-wrap ion-text-center">
                  Acepto 
                  Términos y Condiciones y Política de Privacidad
                </ion-label>
                <label *ngIf="isSubmitted && errorControl.policy.errors?.required" style="color:red;">*</label>
              </ion-item>
            </ion-col>
            <ion-col size="11">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button class="button-ingresar" [disabled]="registerForm.invalid" shape="round" type="submit"  expand="block">Registrarse</ion-button>
            </ion-col>
          </ion-row>
        </form>

        <!-- pruebas locas uwu -->

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

