*{
    font-family: libreBaskerville;
}
.content{
    --background: var(--background-app);
}
.input-icons i {
    
    position: absolute;
}
.columna{
    padding: 0;
    margin: 0;
}
.logoImage{
    width: 40vw;
}
ion-col{
    --text-align: center;
}
.errspan {
    font-size: 8vw;
    float: right;
    color: var(--text-color1);
    bottom: 1vw;
    right: 3vw;
    //margin-right: 15px;
    //margin-top: -31px;
    position: absolute;
    z-index: 3;
}
.futbol-image{
    width: 90vw;
    box-shadow: 0 2vw 0px 0px #F69238;
    margin-bottom: 5vw;
    
}
.text-inicio{
    margin-left: 4vw;
}
.text-inicio,.text-ingresar{
    
    font-size: large;
    color: #F69238;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.entrada-icon{
    position: relative;
}
.entrada{
    padding-left: 2rem;
    font-weight: bold;
    height: 10vw;
    border-radius: 20vw;
    border: none;
    width: 70vw;
    //background-color: black;
}
.entrada::placeholder{
    
    color: var(--text-color1);
    opacity: 0.3;
}
.entrada-group{
    //position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.politicas{
    font-size: small;
    --color: #F69238;
}
.button-ingresar{
    --background: #F69238 !important;
    --color:#434443
}
.tittle-registro{
    font-size: large;
    font-weight: bold;
    color: #F69238;
}
//Previous logo Design
/*
.image-container{
    
    position: relative;
    left: 5vw; top: 0;
    height: 100vw;
    width: 90vw;
    text-align: center;
    //margin-bottom: 5vw;
}
.futbol-image{
    
    //left: -1.5vw;
    width: 90vw;
    position: absolute;

    box-shadow: 0 2vw 0px 0px #F69238
    
}
.logoImage{
    position: absolute;
    width: 72vw; //250
    height: 35vw; //120
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
    //display: inline-block;
    //vertical-align: middle;
    margin-top: 1rem;
    //margin-bottom: 1rem;
    background-color: white;
    bottom: 16vw;
    left:10vw;

    box-shadow: 0 2vw 0px 1px #F69238
}
*/