<ion-slides  pager="true" >
  <ion-slide class="slide">
    <div class="image-container">
      <ion-img class="image" src="assets/images/ronald.jpg"></ion-img>
    </div>
    <div class="information">
      <span class="tipo">Futbol</span>
      <span class="title">Un despido especial de Grhamp Potter</span>
      <span class="description">Grhamp Potter, actual entrenador del Chelsea de la Primera League, tendria que mirar a Moises Caicedo aaaaaaaaaaaaa patoooooooooooooooooooooooooooooooooooooooooooooooooo</span>
    </div>
  </ion-slide>
  <ion-slide>
    <h1>Item2</h1>
  </ion-slide>
  <ion-slide>
    <h1>Item3</h1>
  </ion-slide>
</ion-slides>
