<app-banner></app-banner>
<div>
<swiper [config]="swiperConfig" (slideChange)="changePlatform($event)">
  <ng-template swiperSlide *ngFor="let platform of platforms">
    <div class="w-12 d-flex align-items-center justifiy-items-space-between">
      <ion-button [disabled]="!hasPrevious()" (click)="swipePrev()">
        <ion-icon  name="chevron-back-outline"></ion-icon>
      </ion-button>
    </div>
    <div class=" white platform-option">{{platform}}</div>
    <ion-button [disabled]="!hasNext()" (click)="swipeNext()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ng-template>
</swiper>

<div class="stream">
  <div class="live-header rectangule-shadow">
    <div class="live">
      <div class="center">
        <ion-icon name="ellipse"></ion-icon>
      </div>
      <div>
        <h3 class="live-text">En vivo</h3>
      </div>
    </div>
    <div class="titulo-stream">
      <h2 class="stream-text">{{currentStream.titulo}}</h2>
    </div>
  </div>

  <div class="display-stream" *ngIf="currentStream.platform.toLowerCase() === 'youtube'">
    <iframe [src]="sanatize(currentStream.url)" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe>
      
  </div>
  <div class="display-stream" *ngIf="currentStream.platform.toLowerCase() === 'facebook'">
    <iframe [src]="sanatize(currentStream.url)" 
      style="border:none;overflow:hidden" 
      scrolling="no" 
      frameborder="0" 
      allowfullscreen="true" 
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
      allowFullScreen="true"></iframe>
  </div>
  <div class="d-flex flex-column align-items-center">
    <span class="title-descripcion">Descripcion Streaming</span>
    <div class="descripcion soft-shadow">
      <span class="text-descripcion">
        Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut
        laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea
        commodo consequat.
      </span>
    </div>
  </div>
</div>  
</div>
<app-footer></app-footer>
