.wrapper {
    display: flex;
    width: 100%;
}
/* Reglas del contenido */
#content {
    width: calc(100% - 250px);
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.navbar-custom {
    background-color: #3A7390 !important;
}

.btn-navbar {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.btn-navbar:hover {
    background-color: transparent;
    border-color: #ffffff;
    box-shadow: none;
}

.btn-navbar:focus {
    border-color: #ffffff;
    box-shadow: none;
}

/* Esta regla significa que Sidebar es visible */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #5A6978;
    transition: all 0.3s;
    overflow-y: auto;

/* Esta regla significa que Sidebar es oculta */
}
#sidebar.active {
    margin-left: -250px;
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Reglas para el header del menú */
#sidebar .sidebar-header {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#sidebar .sidebar-header img {
    height: 100%;
    width: 30%;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: #5A6978;
}

#sidebar ul p {
    padding: 10px 25px;
}

/* Reglas para los elementos del menú */
#sidebar ul li a {
    padding: 10px 25px;
    font-size: 1.1em;
    display: block;
    color: #5A6978;
}

#sidebar ul li a:hover {
    color: #000000;
}

#sidebar ul li.active > a {
    color: #000000;
    background: #cdd3d8;
}

#sidebar ul li > a[aria-expanded="true"] {
    color: #000000;
    background: #d9dee2;
}

#sidebar ul li a:hover {
    background: #e8ecef;
}

/* Espaciado entre ícono y texto */
a i, .submit i {
    margin-right: 1rem;
}

/* Reglas para el contenido de la página */
.panel {
    padding: 30px;
    background-color: #EBEFF5;
}

.panel-body {
    padding: 15px;
    border-color: #3A7390;
    border-style: none;
    border-width: 1px;
    border-radius: 20px;
    background-color: white;
}

/* Reglas para la barra de navegación con títutlo */
.navbar-title {
    background-color: white !important;
}

ul ul a {
    padding-left: 30px !important;
}


/* Para pantallas pequeñas */ 
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

}

