th { 
    text-align: center; 
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.form-select {
    width: 10%;
}
#data_table_length label {
    display: flex;
    column-gap: .3rem;
}
label {
    margin-bottom: 0.5rem;
}

.table_lbl {
    display: block;
    text-align: center;
}