.img-container{
    text-align: center;
}
.image{
    width: 150px;
  height: 150px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display:inline-block;
  vertical-align:middle;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
  color: gold;
}
.input-container span{
  position:absolute;
  right: 17px;
  bottom: 8px;
  color: red;
}
.input-container span i{
  color: green;
  font-size: 1.3rem;
}

