swiper {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.stream {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
}

.stream h2 {
    width: 100%;
}

.display-stream {
    height: 30vh;
}

.platform-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem !important;    
}

iframe {
    width: 100%;
    height: 100%;
}

.embed-stream {
    width: 100%;
    height: 100%;
}

.stream-info-div {
    padding: 2rem;
}

.stream-info-div > p {
    text-align: justify;
}