.transparent{
    background: transparent;
}
hr {
    height: 0.5px;
    background-color: gray;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    color: var(--text-color1);
}
h3 {
    text-align: center;
}

.list-md {
    background: transparent;
}
ion-segment {
    --background: var(--radio-color);   
    width: 90vw;
}
.flex{
    display: flex;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-segment-button {
    color: white;
}
.selected{
    color: var(--radio-color);
}

/* Material Design styles */
ion-segment-button.md {
    --color: #fff;
    --color-checked: #fff;
    --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {
    --color: #fff;
    --color-checked: #fff;
    --border-radius: 20px;
}

#no-games {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    width: 90vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: var(--text-color1);
    border-radius: 10vw;
    margin-bottom: 10px;
    box-shadow: rgba(124, 124, 124, 0.3) 0px 30px 60px -12px inset, rgba(124, 124, 124, 0.3) 0px 18px 36px -18px inset;
}
.image-container {
    display: flex;
    justify-content: center;
}
.logo {
    width: 40vw;
}
