
<ion-slides *ngIf="loading">
  <ion-slide >
    <ion-skeleton-text class="skeleton" [animated]="true" ></ion-skeleton-text>
  </ion-slide>
</ion-slides>
<ion-slides  #slides  *ngIf="!loading" [options]="slideOpts" pager="true">
  {{setSlider(slides)}}
  <ion-slide   class="slide" *ngFor="let noticia of noticias">
    <div class="image-container">
      <ion-img class="image " src="{{noticia.imagen}}"></ion-img>
    </div>
    <div class="information">
      <span class="tipo">{{noticia.tipo}}</span>
      <span class="title">{{noticia.titulo}}</span>
    </div>
  </ion-slide>
  
  <ion-slide  class="slide">
    <div class="image-container">
      <ion-img class="image" src="assets/images/ronald.jpg"></ion-img>
    </div>
    <div class="information">
      <span class="tipo">Futbol</span>
      <span class="title">Un despido especial de Grhamp Potter</span>
      <span class="description">Grhamp Potter, actual entrenador del Chelsea de la Primera League, tendria que mirar a Moises Caicedo aaaaaaaaaaaaa patoooooooooooooooooooooooooooooooooooooooooooooooooo</span>
    </div>
  </ion-slide>
</ion-slides>

<!--
<swiper #mySwiper [config]="swiperConfig">
  <ng-template swiperSlide *ngFor="let noticia of noticias">
    
    <div>
      <div class="image-container">
        <ion-img class="image " src="{{noticia.imagen}}"></ion-img>
      </div>
      <div class="information">
        <span class="tipo">{{noticia.tipo}}</span>
        <span class="title">{{noticia.titulo}}</span>
      </div>
    </div>
  </ng-template>    
</swiper>
-->