
<ion-slides [options]="slideOpts"  pager="true">
  <ion-slide *ngIf="false">
    <ion-thumbnail class="skeleton" slot="start">
      <ion-skeleton-text class="text-skeleton"  [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
  </ion-slide>
  <ion-slide  class="slide" *ngFor="let noticia of noticias">
    <div class="image-container">
      <img class="image" src="{{noticia.imagen}}">
    </div>
    <div class="information">
      <span class="tipo">{{noticia.tipo}}</span>
      <span class="title">{{noticia.titulo}}</span>
      <span class="description">{{noticia.descripcion}}</span>
    </div>
  </ion-slide>
  
  <ion-slide  class="slide">
    <div class="image-container">
      <ion-img class="image" src="assets/images/ronald.jpg"></ion-img>
    </div>
    <div class="information">
      <span class="tipo">Futbol</span>
      <span class="title">Un despido especial de Grhamp Potter</span>
      <span class="description">Grhamp Potter, actual entrenador del Chelsea de la Primera League, tendria que mirar a Moises Caicedo aaaaaaaaaaaaa patoooooooooooooooooooooooooooooooooooooooooooooooooo</span>
    </div>
  </ion-slide>
</ion-slides>