.shield-place {
    width: 14rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid white 1px;
    background-color: white;
    border: 4px double #000;
}


#shield-team {
    // border-radius: 50%;
    width: 10.5rem;
    height: 10.5rem;
    margin: 1rem 0;
}

.team-padding {
    padding: 1rem;
}

.team-presentation {
    background: linear-gradient(to bottom, #2c3a73, #256895);
    color:  white;

    display: flex;
    flex-direction: column;
    align-items: center;
} 

.team-description {
    width: 90%;
    margin: 0.5rem 0;
    border-radius: 1rem;

    text-align: center;
    background-color: white;
    color: rgb(93, 154, 178);
}

.team-description > h4 {
    font-weight: bold;
}

#social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-social-networks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.75rem;
}

#social > h2 {
    color: rgb(93, 154, 178);
    font-weight: bold;
}

#social-logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.social-net {
    margin: 0.5rem;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    

.social-logo-container {
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: red;
}

.social-logo-container > svg {
    font-size: 2.3rem;
    margin: 0 auto;
    color: white;
}

.social-net > span {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

#no-social-nets {
    color: rgb(93, 154, 178);
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}
