
.body{
    --background: black;
}
.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .title{
    font-weight: bold;
  }
.image{
    width: 25vw;
    height: 25vw;
    border-radius: 20vw;
  }
  .info{
    padding-left: 5vw;
    padding-right: 5vw;
    background: black;
    color: white;
    border-radius: 15vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(248, 248, 248, 1) 0px 18px 36px -18px inset;
  }
  .title-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: var(--radio-color);
    border-radius: 10vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}
.item{
    --background: black;
}