  


<ion-content class="body">
  <app-tool-bar></app-tool-bar>
  <ion-grid >
    

    <ion-row >
      <ion-col size="12">
        <div class="title-noticias">
          <h2>Noticias</h2>
        </div>
      </ion-col>
      
    </ion-row>

    <!-- BETA SEARCHBAR NO IN THE MOCKUP -->
    <!-- <ion-row>
      <ion-col size="12">
        <ion-searchbar [debounce]="1000" (ionChange)="handleChange($event)"></ion-searchbar>
      </ion-col>
    </ion-row> -->
    
    <ion-row>
      <ion-col size="12">

        <ion-item class="C" *ngFor="let news of newsList; let i = index;" >
          <ion-grid>
            <ion-row class="info ion-justify-content-center " >
              <ion-col size="4">
                  <img class="image" src="{{news.imagen}}" [routerLink] = "['/news',news.id]">
                
              </ion-col>
              <ion-col size="8">
                <p class="title truncate">{{news.titulo}}</p>
              
                <p class="truncate" [routerLink] = "['/news',news.id]">
                  {{news.descripcion}}
                </p>
                  <ion-text color="medium">
                    {{news.fecha_subida}}
                  </ion-text> 
                
                
                
                  
                
              </ion-col>
            </ion-row>
            <ion-row  class="ion-justify-content-around">
                    
              <ion-col size="5" class="ion-justify-content-center">
                <ion-row class="ion-justify-content-center">
                  <ion-button class="buttonNews" color="danger">
                    <ion-icon slot="icon-only" ios="heart" md="heart-sharp" color="medium"></ion-icon>
                   
                    <ion-text color="medium">
                      {{interactionMaganer(news.likes)}}
                    </ion-text>
                  </ion-button>
                </ion-row>
                
              </ion-col>

              <ion-col size="5" class="ion-justify-content-center">
                <ion-row class="ion-justify-content-around">
                  <ion-button class="buttonNews" (click)="sShare(news.titulo, news.descripcion, news.imagen)" color="danger">
                    <ion-icon slot="icon-only" ios="share" md="share-sharp" color="medium"></ion-icon>
                    <ion-text color="medium">
                      {{interactionMaganer(news.compartidos)}}
                    </ion-text>
                  </ion-button>  
                </ion-row>                    
              </ion-col>
            </ion-row>
          </ion-grid>
          
          


        </ion-item>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="lines-small"
            loadingText="Cargando más noticias...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>



  </ion-grid>

</ion-content>
