.body{
    background: black;
    --background: black;
}
.foreverColor {
    --background: transparent;
}

hr {
    height: 0.5px;
    background-color: gray;
}

h3 {
    text-align: center;
}

.list-md {
    background: transparent;
}
ion-segment {
    --background: var(--radio-color);   
}

ion-segment-button {
    color: white;
}
.selected{
    color: var(--radio-color);
}

/* Material Design styles */
ion-segment-button.md {
    --color: #fff;
    --color-checked: #fff;
    --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {
    --color: #fff;
    --color-checked: #fff;
    --border-radius: 20px;
}

#no-games {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: var(--radio-color);
    border-radius: 10vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}
.image-container {
    display: flex;
    justify-content: center;
}
.logo {
    width: 40vw;
}
