<ion-content class="body">
  <div class="image-container">
    <ion-img class="logo" src="assets/images/Logo.png"></ion-img>
  </div>
  <app-tool-bar></app-tool-bar>
  <app-slides-noticias></app-slides-noticias>
<div style="display: flex; flex-direction: column; padding: 0% 1rem 0% 1rem;">
  
  
  <div class="title">
    <h2>Partidos</h2>
  </div>
  <ion-segment scrollable="true" value="por_jugar" mode="ios" >
    <ion-col>
      <ion-segment-button [ngClass]="{'selected' : seccion=='porJugar'}" (click)="getGamesToPlay()" value="por_jugar" >Por jugar</ion-segment-button>
    </ion-col>
    <ion-col>
      <ion-segment-button [ngClass]="{'selected' : seccion=='disputados'}"  (click)="getGamesPlayed()" value="disputados">Disputados</ion-segment-button>
    </ion-col>
  </ion-segment>

  <ion-list class="body">
    <app-match-card  *ngFor="let match of matchesView" [matchFootball]="match" (selectMatch)="openModal($event)"></app-match-card>
  </ion-list>

  <div id="no-games" *ngIf="matchesView.length === 0">
    <h3>No hay partidos para mostrar</h3>
  </div>
  
  <!-- <ion-infinite-scroll threshold="100px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</div>

</ion-content>
