*{
    font-family: libreBaskerville;
    color:var(--text-color1)
}
.ion-padding{
    --background: #F69238 !important;
}
.option-text{
    margin-left: 2vw;
}
.popover{
    width: 70vw;
}
.option{
    font-size: 4vw;
    background-color: #F69238;
    margin-top: 1vw;
    margin-bottom: 1vw;
   margin-left: 2vw;
   padding: 3vw;
}
.option:focus{
    background: black;
    border-radius: 10vw;
 }