.policiesText {
    margin-left: 6vw;
    margin-right: 6vw;
    text-align: center;
    font-size: small;
    color: black;
}

.logoImage {
    margin-top: 3vh;
    margin-bottom: 10vh; 
}


.registerButton , .loginButton {
    
    margin-top: 3vh;
    margin-bottom: 3vh;
}