<div class="container-table">
  <ion-row class="segment-table">    
    <ion-list>
      <ion-list-header>
        <ion-segment #dayTabs scrollable="true" [(ngModel)]="selectedDay" selectOnFocus="true" (ionChange)="segmentChanged($event.target)">
          <ion-col *ngFor="let day of days" id="segment-{{day}}">
            <ion-segment-button (click)="changeProgramming(day)" [value]="day">
              <ion-label>{{day}}</ion-label>
            </ion-segment-button>
          </ion-col>
        </ion-segment>
      </ion-list-header>
      <div class="segments-list" *ngIf="ready">
        <app-segment-list-item *ngFor="let segment of daySegments"
          [currentSegment] = "currentSegment"
          [idSegment]="segment.id" 
          [nameSegment]="segment.nombre" 
          [startHour]="segment.horaInicio"
          [finishHour]="segment.horaFin" 
          [image]="segment.imageUrl">
        </app-segment-list-item>
      </div>
    </ion-list>
  </ion-row>  
</div>
