/*
    ESTILOS PARA LOS BOTONES EN ION SEGMENT
*/

ion-segment {
    --background: rgb(235, 9, 9);
}

ion-segment-button {
    --indicator-color: #ffffff;
}

/* Estilo para disp. Android */
ion-segment-button.md {
    --color: #ffffff;
    --color-checked: #ffffff;
    --indicator-height: 4px;
}

/* Estilos para ios */
ion-segment-button.ios {
    --color: #ffffff;
    --color-checked: #000;
    --border-radius: 20px;
}

/*
    ESTILOS PARA OTRAS PARTES DE A TABLA
*/

.container-table {
    display: flex;
    justify-content: center;
}

.segment-table {
    width: 90%;
}

ion-list-header {
    padding-left: 0;
}

ion-list {
    padding: 0 0;
}

ion-list, ion-segment {
    width: 100%;
}

.img-segment {
    width: 2rem;
    height: 2rem;
}

