
ion-row {
    text-align: center;
}

.tournament-of-match {
    font-size: larger;
    font-weight: 700;
    line-height: 18px;
    padding: 0.5rem;
}

ion-row > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.team-modal, .score-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shield-place {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid white 1px;
    background-color: white;
    border: 4px double #000;
}

.team-shield {
    width: 4rem;
    height: 4rem;
}

.score-modal {
    height: 100%;
    font-size: 2rem;
}

.btn-match {
    align-self: center;
    margin: 0.5rem;
}

.btn-match > ion-icon {
    margin-right: 0.4rem;
}

*{
    color: white;
}
.exit{
    font-size: 10vw;
}
.background{
    --background: black;
}
.match-info {
    margin-bottom: 1rem;
}

.match-info > div {
    margin: 0.2rem 0;
}

.match-info > div > strong {
    margin-right: 0.2rem;
}

.row-button {
    display: flex;
    justify-content: center;
}

.row-button > ion-button {
    width: 75%;
}