<div class="title-noticias">
  <h2>Noticias</h2>
</div>
<div class="image-container">
  <img class="image" src="{{news.imagen}}" imageViewer>
</div>  
<div class="center">
  <ion-button class="footer-buttons">
    <ion-icon lass="radio-color" name="cloud-upload-outline"></ion-icon>
    <span class="radio-color">{{ news.fecha_subida | date:'dd/MM/YYYY HH:mm' }}</span>
  </ion-button>
  <ion-button class="footer-buttons" (click)="sShare(news.titulo, news.descripcion, news.imagen)">
    <ion-icon lass="radio-color" name="share-social-outline"></ion-icon>
    <span class="radio-color" color="medium">
      {{interactionMaganer(news.compartidos)}}
    </span>
  </ion-button>
</div>

  <ion-grid class="text-white" >
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-start ion-margin-horizontal" >
          <h1 class="titleNews">{{news.titulo}}</h1>
         <p class="contentNews">
          {{news.descripcion}}
         </p>
         
        </div>
      </ion-col>
      
    </ion-row>

  </ion-grid>