*{
    //color: white;
}
.titleNews {
    font-weight: bold;
}
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 90vw;
  max-height: 40vw;
  border-radius: 5vw;
  display: inline-block;
  object-position: center;
  object-fit: contain;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(124, 124, 124, 0.3) 0px 18px 36px -18px inset;

}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-white{
  color:white;
}

.footer-buttons{
  --background: transparent;
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --background-focused: none;
  color: var(--radio-color);
}

.title-noticias{
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: var(--text-color1);
  border-radius: 10vw;
  height: 10vw;
  margin-bottom: 2vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(124, 124, 124, 0.3) 0px 18px 36px -18px inset;
}
.contentNews {
    text-align: justify;
    text-justify: inter-word;
}
.buttonNews {
  z-index: 10;
  border-radius: 5px;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  //white-space: pre-wrap;
}

p { white-space: pre-wrap;}