<ion-header [translucent]="true">
  <ion-toolbar>
    <app-back-toolbar></app-back-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="image-container">
    <ion-img class="logo" src="assets/images/Logo.png"></ion-img>
    <ion-img class="image" src="assets/images/futbol_radio.jpg"></ion-img>
    <div class="emisora-name">
      <span class="text-emisora">GUAYAQUIL 99.3 FM</span>
      <ion-button class="go">
        <i class="icon fa-regular fa-circle-right"></i>
      </ion-button>
    </div>
  </div>
  <div class="descripcion">
    <span class="title-descripcion">Descripción:</span>
    <span class="text-descripcion">
      Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit, sed diam
      nonummy nibh euismod tincidunt ut
      laoreet dolore magna aliquam erat
      volutpat. Ut wisi enim ad minim veniam,
      quis nostrud exerci tation ullamcorper
      suscipit lobortis nisl ut aliquip ex ea
      commodo consequat.
    </span>
  </div>
  <div class="contacto">
    <div class="informacion">
      <div class="contact-info">
        <ion-icon name="mail-outline"></ion-icon>
        <span>www.radiocanela.com</span>
      </div>
      <div class="contact-info">
        <ion-icon name="call"></ion-icon>
        <span>0989999999</span>
      </div>
      <div class="contact-info">
        <ion-icon name="location"></ion-icon>
        <span>Urdesa Central</span>
      </div>
    </div>
    <div class="mapa">
      <ion-img class="image-mapa" src="assets/images/mapa_radio.png"></ion-img>
    </div>
  </div>
  <ion-grid>
    <ion-row class="ion-justify-content-between">
      <ion-col size="3">
        <ion-button class="social-media" shape="circle" fill="clear"  >
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button class="social-media" shape="circle" fill="clear"  >
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button class="social-media" shape="circle" fill="clear">
          <ion-icon name="logo-apple"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>