*{
    font-family: libreBaskerville;
    
}
.external-border,
.internal-border {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(124, 124, 124, 0.3) 0px 18px 36px -18px inset;
    border-radius: 5vw;
}

.internal-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
}
.icon {
    color: var(--radio-color);
    font-size: 10vw;
}
.icon:active{
    color: var(--radio-color);
}
.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    margin-top: 2vw;
    color: var(--text-color1);
    margin-bottom: 2vw;
}

.external-border {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vw;
    height: 30vw;
    place-self: center;
}

.grid {
    margin: 0 auto;
    display: grid;
    gap: 0.2rem;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    margin-bottom: 5vw;
}

.element:focus{
    color: #F69238;
}