<app-slides></app-slides>
<app-banner></app-banner>
<ion-grid class="content">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col>
      <!--Radio-->
      <div class="element" (click)="navigate('radio')">
        <div class="internal-border">
          <i class="icon fa-solid fa-radio"></i>
        </div>

        <span class="text">Radio</span>
      </div>
    </ion-col>
    <ion-col>
      <!--Television-->
      <div class="element" (click)="navigate('transmision')">
        <div class="internal-border">
          <i class="icon fa-solid fa-tv"></i>
        </div>
        <span class="text">Televisión</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col>
      <!--Podcast-->
      <div class="element">
        <div class="internal-border">
          <i class="icon fa-solid fa-podcast"></i>
        </div>
        <span class="text">Podcast</span>
      </div>
    </ion-col>
    <ion-col>
      <!--Noticias-->
      <div class="element" (click)="navigate('noticias')">
        <div class="internal-border">
          <i class="icon fa-regular fa-newspaper"></i>
        </div>
        <span class="text">Noticias</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col>
      <!--Informacion-->
      <div class="element" [routerLink]="['/information']">
        <div class="internal-border">
          <i class="icon fa-solid fa-circle-info"></i>
        </div>
        <span class="text">Información</span>
      </div>
    </ion-col>
    <ion-col>
      <!--VIP-->
      <div class="element">
        <div class="internal-border">
          <i class="icon fa-solid fa-crown"></i>
        </div>
        <span class="text">VIP</span>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>