<div class="grid">
  <!--Radio-->
  <div class="element" (click)="navigate('radio')">
    <div class="external-border">
      <div class="internal-border">
        <i class="icon fa-solid fa-radio"></i>
      </div>
    </div>
    <span class="text">Radio</span>
  </div>

  <!--Television-->
  <div class="element">
    <div class="external-border">
      <div class="internal-border">
        <i class="icon fa-solid fa-tv"></i>
      </div>
    </div>
    <span class="text">Television</span>
  </div>
  <!--Podcast-->
  <div class="element">
    <div class="external-border">
      <div class="internal-border">
        <i class="icon fa-solid fa-podcast"></i>
      </div>
    </div>
    <span class="text">Podcast</span>
  </div>
  <!--Noticias-->
  <div class="element" (click)="navigate('noticias')">
    <div class="external-border">
      <div class="internal-border">
        <i class="icon fa-regular fa-newspaper"></i>
      </div>
    </div>
    <span class="text">Noticias</span>
  </div>
  <!--Informacion-->
  <div class="element" (click)="navigate('informacion')">
    <div class="external-border">
      <div class="internal-border">
        <i class="icon fa-solid fa-circle-info"></i>
      </div>
    </div>
    <span class="text">Informacion</span>
  </div>
  <!--VIP-->
  <div class="element">
    <div class="external-border">
      <div class="internal-border">
        <i class="icon fa-solid fa-crown"></i>
      </div>
    </div>
    <span class="text">VIP</span>
  </div>
</div>