<ion-header [translucent]="true">
  <app-tool-bar></app-tool-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="title">Transmisiones en vivo</ion-title>    
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let stream of streamings" class="stream-card" [routerLink]="[stream.id]">
    <ion-grid>
      <ion-row>
        <ion-col class="image-streaming">
          <img src="{{stream.img}}" alt="Placeholder">
        </ion-col>
        <ion-col>
          <ion-card-content class="content-card-streaming">
            <h2>{{stream.titulo}}</h2>
            <p>Plataforma: {{stream.platform}}</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>