<ion-header>
  <app-back-toolbar></app-back-toolbar>
</ion-header>

<ion-content>
<ion-img [src]="tips.imagen"></ion-img>

<ion-item-divider color="primary">
  <ion-button slot="end" fill="clear" color="light">
    <ion-icon slot="icon-only" ios="heart" md="heart-sharp"></ion-icon>
    {{interactionMaganer(tips.likes)}}
  </ion-button>

  <ion-button (click)="sShare(tips.titulo, tips.descripcion, tips.imagen)" slot="end" fill="clear" color="light">
    <ion-icon slot="icon-only" ios="arrow-redo" md="arrow-redo-sharp"></ion-icon>
    {{interactionMaganer(tips.compartidos)}}
  </ion-button>
</ion-item-divider>

<ion-grid >
  <ion-row>
    <ion-col size="12">
      <div class="ion-text-start ion-margin-horizontal" >
        <h1 class="titleTips">{{tips.titulo}} Si vale</h1>
        <ion-card-subtitle> 
          <ion-text color="medium">Subido el {{tips.fecha_subida}}</ion-text> 
        </ion-card-subtitle>
       <p class="contentTips">
        {{tips.descripcion}}         
      </p>
       
      </div>
    </ion-col>
    
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <!-- HERE GOES THE ADV BANNER -->
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
