#logo {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

ion-button[shape=circle] {
    --border-radius: 50%;
    width: 56px;
    height: 56px;
}

ion-button {
    border-color: white;    
}