<ion-header>
  <ion-toolbar>
    <app-back-toolbar></app-back-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header>
  </ion-header>

  <ion-card>

    <ion-card-header>
      
      <ion-card-title>
        <b>
          Políticas de Privacidad
        </b>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sollicitudin lacus non nulla lobortis, non malesuada augue dignissim. Pellentesque feugiat est non nisi maximus vulputate. Etiam eu lorem gravida, scelerisque dui id, lacinia elit. Donec vulputate diam at sem maximus, ut fringilla ex aliquet. Praesent ligula erat, accumsan et massa sed, facilisis laoreet tellus. In sed sem tortor. Nullam vitae vulputate urna. Fusce eu ex varius, sagittis arcu ut, suscipit ante. Nam vel varius erat. Aenean aliquet nulla vel mi aliquam lacinia. Proin sit amet nibh sem.
      </p>
      <br>
      <p>
        Pellentesque pellentesque at lacus vitae vulputate. Ut vehicula dui ac quam porttitor, vel facilisis nisi aliquet. In et magna a diam hendrerit ullamcorper nec a nunc. Proin fermentum commodo augue ac rhoncus. Praesent hendrerit felis neque, pretium tincidunt augue consequat non. Fusce dapibus quam non sem feugiat, ut lobortis tellus porttitor. Cras fringilla neque eu risus blandit, at consectetur quam interdum. Aenean hendrerit ullamcorper tortor, non lacinia tortor lacinia eu. Nullam eu elit arcu.
      </p>
      <br>
      <p>
        Donec sed risus porta, faucibus felis ac, varius magna. Nam tempor ante eget tortor dignissim, ut auctor nisl condimentum. Maecenas in dolor nec arcu eleifend mattis. Suspendisse varius libero in nibh pellentesque, vitae suscipit massa iaculis. Vestibulum lacinia accumsan est. Donec in turpis eget magna semper aliquam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis semper imperdiet risus, sit amet dapibus turpis varius id. Donec laoreet urna vel arcu porttitor aliquam. Maecenas vel turpis vel metus feugiat commodo ac vitae libero.
      </p>
      <br>
      <p>
        Nunc ut nulla tincidunt, sollicitudin turpis at, tempus ex. Donec convallis in est in venenatis. Cras a elit metus. Praesent sed ligula feugiat, vestibulum est sit amet, auctor sapien. Mauris id molestie sem. Curabitur semper, erat id commodo consequat, est mauris placerat dolor, imperdiet rutrum odio nisl non eros. Aliquam erat volutpat. Duis congue est vitae ex rutrum dictum. Aliquam vitae est a velit aliquam euismod ac eu nibh. Integer non sapien in turpis molestie rutrum. Duis at dapibus lectus. Vivamus malesuada, enim sed tempor varius, neque est ultricies augue, nec fermentum velit odio sed nunc. Aliquam a neque at dui malesuada dapibus sit amet vel urna. Aliquam erat volutpat. Aliquam rhoncus odio vel interdum pulvinar.
      </p>
      <br>
      <p>
        Donec eget turpis sagittis, rhoncus mauris quis, ultrices eros. Mauris ut enim purus. Vivamus non odio quis quam tincidunt viverra at et dui. Mauris consectetur tincidunt nisl a porttitor. Praesent tincidunt ac diam cursus vestibulum. Nulla consequat, massa ut aliquam rutrum, sapien nunc dignissim turpis, a pellentesque leo sapien non sapien. Suspendisse posuere tincidunt faucibus. Curabitur quis diam ornare, scelerisque quam vitae, venenatis augue. Duis ornare odio non ornare dapibus.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
