ion-card {
    // background-color: rgb(12, 12, 132);
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 4px 6px rgba(128, 128, 128, 0.493);
    border-radius: 20vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 1) 0px 18px 36px -18px inset;
}
.transparent{
    --background: transparent;
}

ion-row {
    text-align: center;
}

.tournament-of-match {
    font-weight: 700;
    line-height: 18px;
}

ion-row > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.team, .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score {
    height: 100%;
    font-size: large;
    font-weight: bold;
}

.shield-place {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid white 1px;
    background-color: white;
    border: 4px double #000;
}

.team-shield {
    border-radius: 2px;
    width: 4rem;
    height: 4rem;
}

.team > h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}