
<ion-card  class="match" (click)="selected()">
  <ion-card-content class="tarjeta rectangule-shadow" >
    <ion-row>
      <div class="mt-3 tournament-of-match">
        <strong>{{matchFootball.id_torneo.nombre}}</strong>
      </div>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <div class="team">
          <div class="shield-place">
            <img src="{{matchFootball.id_equipo_local.imagen}}" alt="" class="team-shield">
          </div>
        </div>        
      </ion-col>
      <ion-col>
        <div *ngIf="seccion===globalConstantes.ESTADO_PARTIDO_POR_JUGAR" class="score">
          VS
        </div>
        <div *ngIf="seccion===globalConstantes.ESTADO_PARTIDO_DISPUTADO" class="score">
          {{matchFootball.ptos_equipo_local}} - {{matchFootball.ptos_equipo_visitante}}
        </div>
      </ion-col>
      <ion-col>
        <div class="team">
          <div class="shield-place">
            <img src="{{matchFootball.id_equipo_visitante.imagen}}" alt="" class="team-shield">
          </div>          
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
    <div class="center-column">
      <span class="info">Fecha Part: {{matchFootball.fecha_evento | date:'dd/MM/YYYY' }}</span>
      <span class="info">Horario: {{matchFootball.fecha_evento | date:'HH:mm' }}</span>

    </div>      
    </ion-row>
  </ion-card-content>
</ion-card>
