<ion-header [translucent]="true">
  <app-back-toolbar></app-back-toolbar>
</ion-header>

<ion-content>
  <div class="live-streaming">
    <h1>{{streamInfo.titulo}}</h1>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v14.0" nonce="qb0BuWgF"></script>

    <!-- <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FTeleamazonasEcuador%2Fvideos%2F3351478701738490%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> -->


    <!-- <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FDirectosTop2%2Fvideos%2F5401636763291316%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allow="clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> -->

    <!-- <iframe [src]="getUrl(streamInfo.url)"
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe> -->

  </div>

  <app-carousel></app-carousel>

  <div class="stream-info-div">
    <h3>{{streamInfo.subtitulo}}</h3>
    <p>{{streamInfo.descripcion}}</p>
  </div>

</ion-content>
