.live-streaming {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

iframe{
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

app-carousel > ion-slides{
    height: 50vh;
}

.stream-info-div {
    padding: 2rem;

    p {
        text-align: justify;
    }    
}


