/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~swiper/scss";
@import "~swiper/scss/pagination";

/* .input{
    border-radius: 10px !important;
    
    margin-top: 1rem;
    font-size: 0.9em;
    border: 1.5px solid #000000 !important;
    border-style: solid;

    
} */
:root{
    --radio-color:#F69238;
    --background-app:#151619;
    --font-app: libreBaskerville;
    --text-color1:white;
}

    

html,
body {
  
  
  // margin: 0px;
}
@font-face {
    font-family: libreBaskerville;
    src: url(assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf) format('truetype');
}


.text-danger {
    color: red;
}


.pageName {
    
    font-size:x-large;
    font-weight: bold;
}


.titulo {
    font-weight: bold;
    font-size: 2.5vh;
    margin-bottom: 1.5vh;
    margin-top: 3vh
}

/* Modal Match */

.modal-match {
    --background: var(--background-app); // Color de fondo para el modal
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --width: 95%;
}

.modal-match::part(backdrop) {
    //background: rgba(209, 213, 219);
    opacity: 1;
}
.w-90{
    width: 90vw;
}
.mr-10vw{
    margin-right: 10vw;
}
.ion-page{
    overflow:scroll;
    justify-content: start;
}

.shadow-container{
    background: #0F0F12;
    background: linear-gradient(135deg, rgba(15,15,18,1) 0%, rgba(15,15,18,1) 50%, rgba(217,217,217,0.23) 100%);
}
.rectangule-shadow{
    background: rgb(15,15,18);
background: linear-gradient(176deg, rgba(15,15,18,1) 0%, rgba(15,15,18,1) 50%, rgba(217,217,217,0.23) 100%);
}