/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~swiper/scss";
@import "~swiper/scss/pagination";

/* .input{
    border-radius: 10px !important;
    
    margin-top: 1rem;
    font-size: 0.9em;
    border: 1.5px solid #000000 !important;
    border-style: solid;

    
} */
:root{
    --radio-color:#F69238;
}
html,
body {
  background-color: black;
  // margin: 0px;
}

.input{
    border-radius: 10px;
    border: 1.5px solid #000000 !important;
    padding: 0.8vh;
    width: 100%;
}

input:focus {
    outline: none;
}

.input-group {
    text-align: left !important;
    margin: 1rem 0rem;
}

.text-danger {
    color: red;
}


.pageName {
    
    font-size:x-large;
    font-weight: bold;
}


.titulo {
    font-weight: bold;
    font-size: 2.5vh;
    margin-bottom: 1.5vh;
    margin-top: 3vh
}

/* Modal Match */

.modal-match {
    --background: black; // Color de fondo para el modal
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --width: 95%;
}

.modal-match::part(backdrop) {
    //background: rgba(209, 213, 219);
    opacity: 1;
}
