*{
    font-family: libreBaskerville;
    color: var(--text-color1);
}
.title-programacion{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color1);
    border-radius: 5vw;
    height: 10vw;
    margin-bottom: 2vw;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange-color{
    color: var(--radio-color);
}
.div-center{
    text-align: center;
}
.programa-nombre{
    font-size: small;
}
.border-superior{

    border-top: solid rgb(217, 217, 217,0.3) 2px ;
}
.circular{
    border-radius: 10vw;
    padding-bottom: 5vw;
}