<div class="content">
  <div class="title-programacion">
    <h2>Programación</h2>
  </div>

  <div class="d-flex justify-content-center align-content-center">
    <ion-grid class="w-90">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col>
          <span class="orange-color">Horario</span>
        </ion-col>
        <ion-col>
          <span class="orange-color">Programacion</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center" 
      *ngFor="let programaPD of programacion;">
      <ion-col>
          <span>{{hourFormat(programaPD.hora_inicio)}} - {{hourFormat(programaPD.hora_fin)}}</span>
          <br>
          <span class="orange-color" *ngIf="isItPlaying(programaPD)">En Emisión</span>
        </ion-col>
        <ion-col>
          <span>{{programaPD.programa[0].nombre}}</span>
          <br>
          <span class="orange-color" *ngIf="isItPlaying(programaPD)">En Emisión</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

