<div class="content">
  <div class="title-programacion rectangule-shadow">
    <h2>Programación</h2>
  </div>

  <div class="d-flex justify-content-center align-content-center">
    <ion-grid class="w-90 circular shadow-container">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col>
          <div class="d-flex justify-content-center orange-color">
            Horario
          </div>
        </ion-col>
        <ion-col>
          <div class="d-flex justify-content-center orange-color">Programación</div>
        </ion-col>
      </ion-row>
      <ion-row class="border-inferior ion-justify-content-center ion-align-items-center" 
      *ngFor="let programaPD of programacion;">
      <ion-col>
          <div class="d-flex justify-content-center">{{hourFormat(programaPD.hora_inicio)}} - {{hourFormat(programaPD.hora_fin)}}</div>
          <div class="d-flex justify-content-center orange-color" *ngIf="isItPlaying(programaPD)">En Emisión</div>
        </ion-col>
        <ion-col>
          <div class=" programa-nombre div-center d-flex justify-content-center">{{programaPD.programa[0].nombre | titlecase}}</div>
          <div class="d-flex justify-content-center orange-color" *ngIf="isItPlaying(programaPD)">En Emisión</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

