*{
    font-family: libreBaskerville;
    color: var(--text-color1);
}
.title-programacion{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: var(--text-color1);
    border-radius: 10vw;
    height: 10vw;
    margin-bottom: 2vw;
    box-shadow: rgba(124, 124, 124, 0.3) 0px 30px 60px -12px inset, rgba(124, 124, 124, 0.3) 0px 18px 36px -18px inset;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange-color{
    color: var(--radio-color);
}
.div-center{
    text-align: center;
}
