<div class="content relative ion-text-center div-slide">
  <h3>Emisora: {{station.frecuencia_dial}}</h3>

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <div class="relative">

            <ion-card class="tarjeta">
              <img class="programa-image" src="assets/images/cantera.jpg">
            </ion-card>

            <ion-button class="like-button" >
              <div (click)="like()">
                <ion-icon *ngIf="!isLiking" class="heart" name="heart-outline"></ion-icon>
                <ion-icon *ngIf="isLiking" class="heart" name="heart"></ion-icon>
              </div>
            </ion-button>

          </div>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <div class="card-description">
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <span class="text-programa">Exitos de siempre</span>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <span class="text-programa">6:00 - 8:00</span>
            </ion-row>
          </div>
        </ion-row>
      </ion-grid>

    </ion-row>
  </ion-grid>
  

</div>