*{
    font-family: libreBaskerville;
    color: var(--text-color1);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 80%;
    height: 20%;
    margin: 2rem 0;    
}
.div-slide {
    width: 100%;
    //padding-top: 1rem;
}


.sticky-bottom{
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4CAF50;
}

.tarjeta,.card-description{
    width: 40vw;
}
.tarjeta{
    height: 40vw;
    border-radius: 10vw;
}
.programa-image{
    height: 40vw;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.like-button{
    --display: flex;
    --align-items: center;
    --justify-content: center;
    position: absolute;
    right: 0;
   bottom: 30vw;
   --border-radius: 70%;
   --border-radius: 70%;
    --background: var(--radio-color);
    --background-hover: var(--radio-color);
    --background-activated: var(--radio-color);
    --background-focused: none;
    width: 10vw;
    height: 10vw;
    --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.relative{
    position: relative;
}
.heart{
    font-size: 10vw;
}

.text-programa{
    font-size: 5vw;
    color:var(--radio-color)
}
