
.image-container {
    margin: 0;
    display: flex;
    justify-content: center;
}
.logo {
    width: 40vw;
}


.background{
    background: var(--background-app);
    --background: var(--background-app);
}
.overflow{
    overflow: scroll;
}
.router{
    height: auto;
}
.alto{
    height: auto;
}
.padding-t{
    padding-top: 20rem;
}
