ion-item {
    padding: 1vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    border: 1px solid;

    ion-label {
        margin-left: 2vh;
    }

    ion-icon {
        font-size: 4vh;
        margin: auto;
        padding: 1vh;
        border: 3px solid;
        border-radius: 50%;
    }
}