*{
  font-family: libreBaskerville;
  
}
.image-container {
  display: flex;

  padding-left: 2w;
  padding-right: 2vw;
  padding: 2vw;
  justify-content: center;
}
.image{
display: inline-block;
//object-position: center;
object-fit: cover;
overflow: hidden;
width: 28vw;
height: 28vw;
border-radius: 20vw;
}
.tarjeta-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .tarjeta{
    position: relative;
    padding-right: 5vw;
    border-radius: 10vw;
  
    //width: 90vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .title{
    color: var(--radio-color);
    font-weight: bold;
  }


  .info{
    max-width: 55vw;
  }
  .descripcion{
    font-size: small;
  }
  
.like-button{
  --display: flex;
  --align-items: center;
  --justify-content: center;
  position: absolute;
  right: -5vw;
 bottom: 8rem;
 --border-radius: 70%;
 --border-radius: 70%;
  --background: var(--radio-color);
  --background-hover: var(--radio-color);
  --background-activated: var(--radio-color);
  --background-focused: none;
  width: 9vw;
  height: 9vw;
}
.heart{
  font-size: 7vw;
}
.tarjeta-content{
  color: white;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-buttons{
  --background: transparent;
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --background-focused: none;
  color: var(--radio-color);
}