
<app-banner></app-banner>
<div class="content">
  <div class="emisoras rectangule-shadow w-90 d-flex flex-row justify-content-evenly">
    <span>{{getLeft()}}
    </span>
    <div class="d-flex align-items-center color-radio">
      <ion-icon *ngIf="hasPrevious()" name="chevron-back-outline"></ion-icon>
      {{currentStation?.ciudad}}
      <ion-icon *ngIf="hasNext()" name="chevron-forward-outline"></ion-icon>
    </div>
    <span>{{getRigth()}}</span>
  </div>
  <swiper #mySwiper [config]="swiperConfig" (slideChange)="changeStation($event)">
    <ng-template swiperSlide *ngFor="let station of stations; let i = index">
      <!--IMAGEN PROGRAMA-->
      <div class="content relative ion-text-center div-slide">
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-grid>
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <div class="relative">
                  <span>{{i}}</span>
                  <ion-card class="tarjeta">
                    
                    <img class="programa-image" src="{{getOnLiveProgramImage(i)}}">
                  </ion-card>
                  
                </div>
              </ion-row>
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <div class="card-description">
                  <ion-row class="ion-justify-content-center ion-align-items-center">
                    
                  </ion-row>
                  <ion-row class="ion-justify-content-center ion-align-items-center">
                    
                  </ion-row>
                </div>
              </ion-row>
            </ion-grid>
      
          </ion-row>
        </ion-grid>
      </div>
      <!--FIN IMAGEN PROGRAMA-->
      
    </ng-template>    
  </swiper>
  <div class="d-flex flex-column align-items-center">
    <span class="color-radio">{{getOnLiveProgramName() | titlecase}}</span>
    <span class="color-radio">{{getOnLiveProgramHour()}}</span>
  </div>
  <div class="programacion">
    
    <app-programacion [programacion]="currentProgramacion"></app-programacion>
  </div>
  <div class="sticky-bottom">
    <div class="player">
      
      <ion-button class="play-pause-radio" shape="circle" #buttonRadio id="play-pause-radio" (click)="playPauseRadio()">
        <div>
          <ion-icon class="play" *ngIf="!isPlaying" name="play"></ion-icon>
          <ion-icon class="pause" *ngIf="isPlaying" name="pause"></ion-icon>
        </div>
      </ion-button>
      <hr>
      <ion-button class="heart-button">
        <div (click)="like()">
          <ion-icon *ngIf="!isLiking[currIndex]" class="heart" name="heart-outline"></ion-icon>
          <ion-icon *ngIf="isLiking[currIndex]" class="heart" name="heart"></ion-icon>
        </div> 
      </ion-button>
    </div>
  </div>
</div>
