
<app-banner></app-banner>
<div class="content">
  <div class="emisoras rectangule-shadow w-90 d-flex flex-row justify-content-evenly">
    <span>{{getLeft()}}
    </span>
    <div class="d-flex align-items-center color-radio">
      <ion-icon *ngIf="hasPrevious()" name="chevron-back-outline"></ion-icon>
      {{currentStation?.ciudad}}
      <ion-icon *ngIf="hasNext()" name="chevron-forward-outline"></ion-icon>
    </div>
    <span>{{getRigth()}}</span>
  </div>
  <swiper #mySwiper [config]="swiperConfig" (slideChange)="changeStation($event)">
    <ng-template swiperSlide *ngFor="let station of stations; let i = index">
      <app-dial-subpage #radioStation 
        [station]="station"
        [playerIndex]="i"  
      ></app-dial-subpage>
    </ng-template>    
  </swiper>
  <div class="d-flex flex-column align-items-center">
    <span class="color-radio">Harta Pelota</span>
    <span class="color-radio">21:50 - 22:50</span>
  </div>
  <div class="programacion">
    
    <app-programacion [programacion]="programacion"></app-programacion>
  </div>
  <div class="sticky-bottom">
    <div class="player">
      
      <ion-button class="play-pause-radio" shape="circle" #buttonRadio id="play-pause-radio" (click)="playPauseRadio()">
        <div>
          <ion-icon class="play" *ngIf="!isPlaying" name="play"></ion-icon>
          <ion-icon class="pause" *ngIf="isPlaying" name="pause"></ion-icon>
        </div>
      </ion-button>
      <hr>
      <ion-button class="heart-button">
        <div>
          <ion-icon class="heart" name="heart-outline"></ion-icon>
        </div>    
      </ion-button>
    </div>
  </div>
</div>

