*{
    font-family: libreBaskerville;
    color: var(--text-color1);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emisoras{
    padding: 3vw;
    border-radius: 8vw;
    box-shadow: rgba(124, 124, 124, 0.3) 0px 30px 60px -12px inset, rgba(124, 124, 124, 0.3) 0px 18px 36px -18px inset;
}
.color-radio{
    color: var(--radio-color);
}
.page-waves {
    --background: transparent;
    //background-image: url('../../assets/images/ondas_radio.png'), linear-gradient(to bottom, #2c3a73, #256895);    
}

swiper {
    width: 100%;
    height: 80%;
}

app-dial-subpage {
    height: 100%;
}

.segment-radio-table-container {
    padding: 1rem 0;
}
.player{

    margin: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20vw;
    border:solid var(--radio-color);
    max-width: 70vw;
    height: 15vw;
}
.play-pause-radio{
    --background: var(--radio-color);
    --background-hover: #f0553a;
    --background-activated: #e0735f;
    --background-focused: #e3978a;
    --border-radius: 50%;
    width: 10vw;
    height: 10vw;
}
.play,.pause{
    font-size: 5vw;
}
.white{
    color: white;
}
hr {
    margin: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 1vw;
    width: 30vw;
    background-color: white;
    opacity: 1;
    background: var(--radio-color);
  }
  .heart-button{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    --background: none;
    --background-hover: var(--radio-color);
    --background-activated: var(--radio-color);
    --background-focused: none;
    outline: none;
}
.heart{
    font-size: 10vw;
}