<div class="d-flex flex-column align-items-center">
  <div class="image-container">
    <img class="image" src="{{programa.imagen}}" imageViewer>
  </div>
  <div class="titulo soft-shadow">
    {{programa.nombre | titlecase}}
  </div>
  <div class="descripcion soft-shadow">
    <span class="text-descripcion">
      {{programa.descripcion | lowercase}}
    </span>
  </div>
  <div class="titulo text-light soft-shadow">
    Locutores
  </div>
  <div class="w-100 row row-cols-3 text-center justify-content-center">
    <div class="col my-2" *ngFor="let locutor of locutores">
      <div [routerLink]="['/principal/locutor-info',idPrograma,locutor.id]"  class=" d-flex flex-column align-items-center text-center" style="font-size: small;">
        <img class="rounded-circle img-locutor"
          src="{{locutor.imagen}}">
        {{locutor.nombre}}
      </div>
    </div>
    
  </div>
</div>