<div class="ion-text-center div-slide">
  <!-- <h1 class="ion-text-uppercase">{{station.radio.nombre}}</h1>     -->
  <!-- <img id="logo" src="{{station.radio.imagen}}" alt="imagen">  -->
  <img id="logo" src="assets/images/LargeLogo.png" alt="imagen"> 
  <h3>Estas escuchando {{station.frecuencia_dial}}</h3>
  <ion-button shape="circle" #buttonRadio id="play-pause-radio" (click)="playPauseRadio()">    
    <ion-icon *ngIf="!isPlaying" name="play"></ion-icon>
    <ion-icon *ngIf="isPlaying" name="pause"></ion-icon>
  </ion-button>
</div>        