
hr {
    height: 1vw;
    width: 20vw;
    background-color: white;
    background: var(--radio-color);
  }

#logo {
    width: 80%;
    height: 20%;
    margin: 2rem 0;    
}

.div-slide {
    width: 100%;
    height: inherit;
    padding-top: 1rem;
}


.play-pause-radio{
    --background: var(--radio-color);
    --background-hover: #f0553a;
    --background-activated: #e0735f;
    --background-focused: #e3978a;
    --border-radius: 50%;
    width: 15vw;
    height: 15vw;
}
.play,.pause,.heart{
    font-size: 5vw;
}
.heart-button{
    height: 15vw;
    width: 15vw;
    --border-radius: 50%;
    --background: none;
    --background-hover: var(--radio-color);
    --background-activated: var(--radio-color);
    --background-focused: none;
    outline: none;
}

.player{
    border-radius: 20vw;
    border:solid var(--radio-color);
    max-width: 80vw;
}
.card,.card-description{
    width: 60vw;
}
.card{
    height: 60vw;
    border-radius: 10vw;
    
}
.programa-image{
    height: 60vw;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.like-button{
    position: absolute;
    right: 0;
   bottom: 50vw;
   --border-radius: 50%;
   --border-radius: 50%;
    --background: var(--radio-color);
    --background-hover: var(--radio-color);
    --background-activated: var(--radio-color);
    --background-focused: none;
    width: 20vw;
    height: 20vw;
}
.relative{
    position: relative;
}
.heart{
    font-size: 10vw;
}
.margin{
    margin-top: 10vw;
}
.text-programa{
    font-size: 1.5rem;
}