<ion-header [translucent]="true">
  <app-tool-bar></app-tool-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  
  <swiper #mySwiper [config]="swiperConfig" (slideChange)="changeStation($event)" (slideChangeTransitionStart)="stopRadioPlayer()">
    <ng-template swiperSlide *ngFor="let station of stations">
      <div class="ion-text-center div-slide">
        <h1 class="ion-text-uppercase">{{station.name}}</h1>    
        <img id="logo" src="{{station.image}}" (error)="errorImage($event)" alt="imagen">  
        <h3>Estas escuchando {{station.dial}}</h3>
        <ion-button color="dark" shape="circle" #buttonRadio id="play-pause-radio" fill="outline" (click)="playAudio()">    
          <ion-icon *ngIf="!this.radioService.isPlaying" name="play-outline"></ion-icon>
          <ion-icon *ngIf="this.radioService.isPlaying" name="pause-outline"></ion-icon>
        </ion-button>
      </div>        
    </ng-template>    
  </swiper>

  <app-segment-radio-table [station]="currentStation"></app-segment-radio-table>

</ion-content>
