<ion-header>
  <app-tool-bar></app-tool-bar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-images-positions page-waves">
  
  <swiper #mySwiper [config]="swiperConfig" (slideChange)="changeStation($event)">
    <ng-template swiperSlide *ngFor="let station of stations; let i = index">
      <app-dial-subpage #radioStation 
        [station]="station"
        [playerIndex]="i"  
      ></app-dial-subpage>
    </ng-template>    
  </swiper>

  <div class="segment-radio-table-container">
    <app-segment-radio-table [station]="currentStation"></app-segment-radio-table>
  </div>

</ion-content>
