ion-content {
    --color: white;
}

.page-waves {
    --background: transparent;
    //background-image: url('../../assets/images/ondas_radio.png'), linear-gradient(to bottom, #2c3a73, #256895);    
}

swiper {
    width: 100%;
    height: 80%;
}

app-dial-subpage {
    height: 100%;
}

.segment-radio-table-container {
    padding: 1rem 0;
}