<app-slides></app-slides>
<app-banner></app-banner>
<div>
  <div class="title-tips">
    <h2 class="fs-6">TIPS</h2>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="card-container mt-4">
    <div class="card-content" *ngFor="let tip of tipsList; let i = index;">
      <div class="tarjeta w-100">
        <div class="row w-100 align-items-center">
          <div class="col-6 text-start">
            <div class="image-container" [routerLink]="['/principal/tips',tip.id]">
              <img class="image" src="{{tip.imagen}}">
              <figcaption class="medium-c fs-date">{{ tip.fecha_subida | date:'dd/MM/YYYY' }}</figcaption>
            </div>
          </div>
          <div class="col-6">
            <div class="info" [routerLink]="['/principal/tips',tip.id]">
              <div class="row">
                <div class="col-12">
                  <p class="title truncate">{{tip.titulo}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer row w-100">
        <div class="col-6 text-start">
          <ion-button class="footer-buttons">
            <ion-icon name="heart"></ion-icon>
            <ion-text color="medium">
              {{interactionMaganer(tip.likes)}}
            </ion-text>
          </ion-button>
        </div>

        <div class="col-6 text-end">
          <ion-button class="footer-buttons" (click)="sShare(tip.titulo, tip.descripcion, tip.imagen)">
            <ion-icon name="arrow-redo"></ion-icon>
            <ion-text color="medium">
              {{interactionMaganer(tip.compartidos)}}
            </ion-text>
          </ion-button>
        </div>

      </div>
    </div>

  </div>
</div>