*{
    font-family: libreBaskerville;
    
}
p {
  margin-bottom: 0.5rem;
}
.fs-date {
  font-size: 0.8rem;
}
.medium-c {
  color: #92949c;
}
.image-container {
  display: flex;
  flex-direction: column;
  padding-left: 2w;
  padding-right: 2vw;
  padding: 2vw;
  justify-content: center;
  align-items: center;
}
.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .title-tips{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: var(--radio-color);
    border-radius: 10vw;
    height: 10vw;
    margin-bottom: 2vw;
    box-shadow: inset 0px 0px 110px 9px rgba(66,66,66,0.41);
}
.title{
    color: var(--radio-color);
    font-weight: bold;
    text-align: center;
  }
.image{
    display: inline-block;
    //object-position: center;
    object-fit: cover;
    overflow: hidden;
    width: 25vw;
    height: 25vw;
    border-radius: 1rem;
  }
  .info{
    max-width: 55vw;
  }
.transparent{
    --background: transparent;
}
.item{
    --background: transparent;
    
}
.limit{
  --max-width: 90vw;
  overflow: hidden;
}
.col-limit{
  overflow: hidden;
  max-width: 10vw;
}
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tarjeta{
  position: relative;
  padding-right: 2vw;
  border-radius: 1rem;
  margin-bottom: 2vw;
  //width: 90vw;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 110px 9px rgba(66,66,66,0.41);

}
.like-button{
  --display: flex;
  --align-items: center;
  --justify-content: center;
  position: absolute;
  right: -3vw;
 bottom: 30vw;
 --border-radius: 70%;
 --border-radius: 70%;
  --background: var(--radio-color);
  --background-hover: var(--radio-color);
  --background-activated: var(--radio-color);
  --background-focused: none;
  width: 10vw;
  height: 10vw;
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.heart{
  font-size: 9vw;
}
.card-content{
  color: white;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-buttons{
  --background: transparent;
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --background-focused: none;
  color: var(--radio-color);
}